<tr>
  <td><%= lg.name %></td>
  <td><%= lg.schools.count %></td>
  <td><%= @u_hash[lg.id.to_s] %></td>


    <td><%= link_to "Wrestlers", league_path(lg) %></td>
    <% if user_signed_in? && current_user.admin? %>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%= link_to 'Edit' %></td>


    <% end %>

  </td>
</tr>