<tr>
  <td><%= link_to "#{lg.name}", league_path(lg) %></td>
  <td><%= lg.schools.count %></td>
  <td><%= lg.league_rep %> </td>
        

    <td><%= link_to "Wrestlers (#{lg.wrestlers.where(tourney_team: true).count})", league_wrestlers_path(lg) %></td>
    <% if user_signed_in? && current_user.admin? %>
    <td><%= lg.cell %></td>
    <td><%= lg.email %></td>
    <td><%= link_to 'Edit', edit_league_path(lg) %></td>


    <% end %>

  </td>
</tr>