<tr>
  <td><%= link_to "#{school.name}", school_path(school) %><br><div style="font-size: 0.7em">(<%= school.abbreviation %>)</div></td>
  <td><% if User.where(school_id: school.id) %>
        <% User.where(school_id: school.id).each do |u| %>
          <%= u.name %><br>
        <% end %>
      <% end %>
  </td>
  <td><%= link_to "Wrestlers (#{Season.last.wrestlers.where(school_id: school.id).count})", school_wrestlers_path(school, season_id: @season_id) %>
  <% if user_signed_in? && current_user.admin? %>
  
  <td><% if User.where(school_id: school.id) %>
        <% User.where(school_id: school.id).each do |u| %>
          <%= u.email %><br>
        <% end %>
      <% end %>
  </td> 
  <td><% if User.where(school_id: school.id) %>
        <% User.where(school_id: school.id).each do |u| %>
          <%= u.cell %><br>
        <% end %>
      <% end %></td>
   
 
  <td><%= link_to 'Edit', edit_school_path(school) %></td>
      <td><%= link_to("Delete", detach_league_path(@lg, school_id: school.id), :data => {:confirm => 'Are you sure?'}) %> </td>
    <% end %>
</tr>

