<div class="ui center aligned grid">

  <div class="sixteen wide column">
    <b><%= @lg.name %></b>
  </div>
   <div class="ui center aligned segment">
    <% if user_signed_in? && (current_user.admin? ) %>
        <i class="add user icon"></i><%= link_to 'ADD TEAM', new_league_school_path(@lg) %>
        <% end %>
<table class="ui celled right aligned structured stackable table">
  <thead>
    <tr>
      <th rowspan="2">SCHOOL</th>
      <th rowspan="2">COACH</th>
      <% if user_signed_in? && (current_user.admin? || current_user.league_rep == true ) %>
      <th rowspan="2">EMAIL</th>
      <th rowspan="2">CELL</th>
      <th rowspan="2">EDIT</th>
      <th rowspan="2">DELETE</th>
      <% end %>
    </tr>

  </thead>
  <tbody>
    <% @schools.each do |school| %>
       <%= render partial: 'leagues/teams_table_row', locals: { school: school } %>
      <% end %>

  </tbody>
</table>
</div>
</div>



<div class="ui grid">
  <div class="five column row">
    <div class="center aligned column"></div>
    <div class="column"></div>
    <div class="center aligned column">




        <p>

<!--           Download:
            <%= link_to "CSV", users_path(format: "csv") %> |
            <%= link_to "Excel", users_path(format: "xls") %><br><br>
 -->



        </p>

    </div>

    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>
<div class="ui segment">
<div class="ui center aligned grid">
  <div class="center aligned three column row">
    <div class="column">

    </div>
    <div class="column">
    <u>SCHOOLS</u><br>
        <% @schools.each do |school| %>
            <div class="segment"><b><%= school.name %></b></div>
          <% end %>


    </div>
    <div class="column">

    </div>
  </div>
</div>
</div>

