<div class="ui center aligned grid">

  <div class="sixteen wide column">
    <b><%= @lg.name %></b>
  </div>
   <div class="segment">
    <% if user_signed_in? && (current_user.admin? || ((@user.league_id == @lg.id) && @user.league_rep == true)) %>
        <i class="add user icon"></i><%= link_to 'ADD WRESTLER' %>
        <% end %>
<table class="ui celled center aligned structured stackable table">
  <thead>
    <tr>

      <th rowspan="2">WT</th>
      <th rowspan="2">SCHOOL</th>
      <th rowspan="2">FIRST</th>
      <th rowspan="2">LAST</th>
      <th rowspan="2">YR</th>
      <th rowspan="2">W</th>
      <th rowspan="2">L</th>
      <th rowspan="2">SEED</th>

      <th rowspan="2">SEC Pl</th>
      <th rowspan="2">ST Pl</th>

      <th colspan="5">Tournament Places</th>
      <th colspan="5">H2H</th>


      <th rowspan="2">Comments</th>
      <% if user_signed_in? && (current_user.admin? || @school_ids.include?(current_user.school_id)) %>
      <th rowspan="2">Edit</th>
      <% end %>
      <% if user_signed_in? && (current_user.admin? || current_user.id == @user.id) %>
      <th rowspan="2">Delete</th>
      <% end %>
    </tr>

  </thead>
  <tbody>



  </tbody>
</table>
</div>
</div>



<div class="ui grid">
  <div class="five column row">
    <div class="center aligned column"></div>
    <div class="column"></div>
    <div class="center aligned column">




        <p>

<!--           Download:
            <%= link_to "CSV", users_path(format: "csv") %> |
            <%= link_to "Excel", users_path(format: "xls") %><br><br>
 -->



        </p>

    </div>

    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>
<div class="ui segment">
<div class="ui center aligned grid">
  <div class="center aligned three column row">
    <div class="column">
      <u>ABOUT</u>
    </div>
    <div class="column">
    <u>SCHOOLS</u><br>
        <% @schools.each do |school| %>
            <div class="segment"><b><%= school.name %></b></div>
          <% end %>


    </div>
    <div class="column">
      <u>IMAGES</u>
    </div>
  </div>
</div>
</div>

