<div class="ui center aligned grid">

  <div class="sixteen wide column">
    <b><%= @lg.name %></b>
  </div>
   <div class="ui center aligned segment">
    <% if user_signed_in? && (current_user.admin? ) %>
        <i class="add user icon"></i><%= link_to 'ADD WRESTLER', new_wrestler_path %>
        <% end %>
<table class="ui celled right aligned structured stackable table">
  <thead>
    <tr>
      <th rowspan="2">SEED</th>
      <th rowspan="2">WT</th>
      <th rowspan="2">LEAGUE PL</th>
      <th rowspan="2">SCHOOL</th>
      <th rowspan="2">FIRST</th>
      <th rowspan="2">LAST</th>
      <th rowspan="2">YR</th>
      <th rowspan="2">W</th>
      <th rowspan="2">L</th>
      <th rowspan="2">SEC Pl</th>
      <th rowspan="2">ST Pl</th>

      <th colspan="1">TOURNAMENT PLACES</th>
      <th colspan="1">HEAD 2 HEAD</th>



      <% if user_signed_in? && (current_user.admin? || current_user.league || current_user.school) %>
      <th rowspan="2">EDIT</th>
      <% end %>
      <% if user_signed_in? && (current_user.admin? || current_user.league || current_user.school) %>
      <th rowspan="2">DELETE</th>
      <% end %>
    </tr>

  </thead>
  <tbody>
    <% @wrestlers.each do |wrestler| %>
       <%= render partial: 'leagues/wrestlers/table_row', locals: { wrestler: wrestler } %>
      <% end %>

  </tbody>
</table>
</div>
</div>



<div class="ui grid">
  <div class="five column row">
    <div class="center aligned column"></div>
    <div class="column"></div>
    <div class="center aligned column">




        <p>

<!--           Download:
            <%= link_to "CSV", users_path(format: "csv") %> |
            <%= link_to "Excel", users_path(format: "xls") %><br><br>
 -->



        </p>

    </div>

    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>
<div class="ui segment">
<div class="ui center aligned grid">
  <div class="center aligned three column row">
    <div class="column">

    </div>
    <div class="column">
    <u>SCHOOLS</u><br>
        <% @schools.each do |school| %>
            <div class="segment"><b><%= school.name %></b></div>
          <% end %>


    </div>
    <div class="column">

    </div>
  </div>
</div>
</div>

