<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h2> <%= @applicant.coach %></h2>
      <p>
         Thank you for your application to the 2016 MSJ Wrestling Invitational.  You checked the box indicating you will be bringing INDIVIDUAL wrestlers to the tournament.  Your team registration fees are detailed below on a PER WRESTLER basis.
      </p>

      <p>
      <h4><b>You entered</b>: <%= @applicant.number_of_wrestlers %> wrestlers</h4>
      <p>
      <h3><u>Please pay</u>: </h3>
           <br>$<%= @applicant.fee %> if paid in full by December 1, 2015 <br>
                $<%= @applicant.fee.to_i + (10 * @applicant.number_of_wrestlers.to_i) %> by January 1, 2016 <br>
          $<%= @applicant.fee.to_i + (20 * @applicant.number_of_wrestlers.to_i) %> after January 1, 2016 <br>


        <br> <b>TEAMS ENTERING 7 OR MORE WRESTLERS PAY FULL TEAM PRICE! - NO EXCEPTIONS</b><br>
      </p>

      <p>
      <h5><u>PLEASE MAKE CHECKS PAYABLE TO MISSION SAN JOSE WRESTLING</u></h5><br>
      <h5><u>Mail payment to</u>:</h5>
      <b>Mission San Jose High School</b><br>
      <b>41717 Palm Ave</b><br>
      <b>Fremont, CA 94539</b><br>
      <h5>No refunds will be given for cancellation after January 1, 2016</h5><br>
      </p>

      <p>
        The ABSOLUTE DEADLINE for getting your rosters entered for entry and seeding purposes is 4 PM, Tuesday, Feb 2rd.  Teams that have not submitted their entries by that time will be dropped from the tournament.  Please do not make us chase you to get your lineups in.
      </p><br>

      <p>
        If you have ANY questions, please contact Larry Katz @ 510-543-5940 or Scott Katz @ 323-317-5900.
      </p><br>

      <p>
        Sincerely,<br>


        MSJ Wrestling



    </p>
  </body>
</html>