<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> <%= @user.name %> (<%= @wrestler.school.name %>) </h1>
   
    <p>
      Wrestler: <%= @wrestler.first_name %> <%= @wrestler.last_name %><br>
      Match Result:<br>
      <%= @bout.win_loss %><br>
      <%= @bout.opponent_name %> <%= #bout.opponent_team %><br>
      <%= @bout.score_time %>
      
    </p>
  </body>
</html>