<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> <%= @user.name %> (<%= @wrestler.school.name %>) </h1>
   
    <p><ul>
      <li>Wrestler: <%= @wrestler.first_name %> <%= @wrestler.last_name %></li>
      <li>Match Result:</li>
      <li><%= @bout.win_loss %></li>
      <li><%= @bout.opponent_name %> <%= #bout.opponent_team %></li>
      <li><%= @bout.score_time %></li>
      </ul>
    </p>
  </body>
</html>