<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> <%= @wrestler.school %> - Wrestler Updated</h1><br>
    <p>

      <h2>Weight: <%= @wrestler.weight %> lbs</h2>
      <h2>Wrestler: <b><%= @wrestler.first_name %> <%= @wrestler.last_name %></b></h2>
      <h3>Change made by: <%= @user.name %></h3><br>


    </p>
  </body>
</html>