
  <div class="ui inverted brackets sidebar vertical menu">
   <%= render partial: 'shared/result_links' %>
  </div>

  <div class="ui inverted info wide sidebar vertical menu">
    <a class="item"><b>TOURNEY INFO</b></a>
    <a class="item" href="/images/NCS_schedule_2016.pdf">Schedule</a>
    <a class="item" href="/information/seeds.html">Seeds</a>
    <a class="item" href="/information/alerts.html">Alerts</a>
    <a class="item" href="http://www.nfhsnetwork.com/events/cifncs/91d037937d">Live Streaming</a>
    <a class="item" href="/information/help.html">Help</a>
    <br><br>
    <a class="item"><b>PAST RESULTS BOYS</b></a>
     <div class="results">

      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2015/Final%20Brackets%20Boys.pdf">2015</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2014/2014NCSFinalScoresPlacersBrackets.pdf">2014</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2013/2013%20NCS%20Results.pdf">2013</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2012/NCS2012FINALRESULTS.pdf">2012</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2011/2011FINALBOYSpdf.pdf">2011</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2010/NCS2010Brackets.pdf">2010</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2009/TeamScores.pdf">2009</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2008/2008FinalResults.pdf">2008</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2007/2007FinalResults.pdf">2007</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2006/2006FinalResults.pdf">2006</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/MasterResultsPage.htm">NCS ARCHIVES</a>
    </div><br><br>
    <a class="item"><b>PAST RESULTS GIRLS</b></a>
     <div class="results">

      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2016/2016%20NCS%20Girls%20Final%20Brackets.pdf">2016</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2015/Final%20Brackets%20Girls.pdf">2015</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2014/2014%20NCS%20Girls%20Brackets.pdf">2014</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2014/2014%20NCS%20Girls%20Brackets.pdf">2013</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2012/Girls%202012%20NCS%20Brackets.pdf">2012</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2011/Final%20Girls.pdf">2011</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2010/Team%20Scores.pdf">2010</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2009/NCS2009Girls%20Team%20Scores.pdf">2009</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2008/2008GirlsFinalResults.pdf">2008</a>
      <a class="item" href="http://cifncs.org/sports/wrestling/files/Results/2007/2007NCSGirls.pdf">2007</a>
    </div>
  </div>

  <div class="ui inverted league wide sidebar vertical menu">
    <div class="ui grid">
     <a class="weight item"><b>LEAGUES</b></a>

        <div class="two column row">
        <div class="column">
           <% @leagues1.each do |l| %>

            <a class="item" href="/leagues/<%= l.id %>/wrestlers/"><%= l.name %></a>
          <% end %>
        </div>
        <div class="column">
         <% if @leagues2 %>
         <% @leagues2.each do |l| %>

            <a class="item" href="/leagues/<%= l.id %>/wrestlers/"><%= l.name %></a>
          <% end %>
          <% end %>
        </div>
      </div>

      <% if user_signed_in? && (@user.league_rep == true) %>
      <div class="league"><br><br>
      <a class="weight item"><b>TOURNEY INFO</b></a>
    <a class="item" href="/images/NCS_schedule_2016.pdf">Schedule</a>
    <a class="item" href="/information/seeds.html">Seeds</a>

    <a class="item" href="/information/alerts.html">Alerts</a>

    <a class="item" href="http://www.nfhsnetwork.com/events/cifncs/91d037937d">Live Streaming</a>
    <a class="item" href="/information/help.html">Help</a>
    </div><br><br>



    <%= render partial: 'shared/result_links' %>

    <% end %>
    </div>
  </div>

  <div class="ui inverted wrestler wide sidebar vertical menu">
    <div class="ui grid">

        <div class="weight item">
          <b>BY LEAGUE</b>
        </div>
        <div class="two column row">
        <div class="column">
           <% @leagues1.each do |l| %>

            <a class="item" href="/leagues/<%= l.id %>/wrestlers/"><%= l.name %></a>
          <% end %>
        </div>
        <div class="column">
         <% if @leagues2 %>
         <% @leagues2.each do |l| %>

            <a class="item" href="/leagues/<%= l.id %>/wrestlers/"><%= l.name %></a>
          <% end %>
          <% end %>
        </div>
      </div>




      <div class="weight item">
        <b>BY WEIGHT</b>
      </div>
      <div class="two column row">
        <div class="column">
          <a class="item" href="/wrestlers/weight_106.html">106</a>
          <a class="item" href="/wrestlers/weight_113.html">113</a>
          <a class="item" href="/wrestlers/weight_120.html">120</a>
          <a class="item" href="/wrestlers/weight_126.html">126</a>
          <a class="item" href="/wrestlers/weight_132.html">132</a>
          <a class="item" href="/wrestlers/weight_138.html">138</a>
          <a class="item" href="/wrestlers/weight_145.html">145</a>
          <a class="item" href="/wrestlers.html">VIEW ALL</a>
        </div>
        <div class="column">
          <a class="item" href="/wrestlers/weight_152.html">152</a>
          <a class="item" href="/wrestlers/weight_160.html">160</a>
          <a class="item" href="/wrestlers/weight_170.html">170</a>
          <a class="item" href="/wrestlers/weight_182.html">182</a>
          <a class="item" href="/wrestlers/weight_195.html">195</a>
          <a class="item" href="/wrestlers/weight_220.html">220</a>
          <a class="item" href="/wrestlers/weight_285.html">285</a>
        </div>
      </div>

      <div class="divider">
      </div>



      <div class="weight item">
        <b>BY SCHOOL</b>
      </div>


      <% if @schools1 %>
        <div class="two column row">
          <div class="column">
            <div class="school">
            <% @schools1.each do |s| %>
              <a class="item" href="/schools/<%= s.id %>/wrestlers/"><%= s.name %></a>
            <% end %>
            </div>
          </div>
          <% if @schools2 %>
          <div class="column">
            <div class="school">
            <% @schools2.each do |s| %>
              <a class="item" href="/schools/<%= s.id %>/wrestlers/"><%= s.name %></a>
            <% end %>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="ui inverted admin wide right sidebar vertical menu">
    <a class="item" href="/users/new.html">ADD USER</a>
    <a class="item" href="/leagues.html">VIEW LEAGUES</a>
    <a class="item" href="/wrestlers.html">VIEW WRESTLERS</a>
    <a class="item" href="/cellnumbers">SEND SMS ALERTS<i class="mobile icon"></i></a>
    <a class="item" href="">TOGGLE SETTINGS<i class="setting icon"></i></a>
  </div>

  <div class="ui center aligned top attached header">
    <div class="ui center aligned segment">

     <b>North Coast Section / Les Schwab Tires Wrestling Championships</b><br>JAMES LOGAN HIGH SCHOOL<br>Union City, California<br>Feb 26-27, 2016<br>

    </div>
    </div>

  <div class="ui secondary main menu grid">
    <div class="computer only row">

      <div class="item">
        <%= link_to "Home", root_path %>
      </div>


      <% if user_signed_in? && (@user.league_rep == true) %>
       <div class="ui toggle3 item"><i class="sidebar icon"></i>LEAGUE ENTRY MENU

      </div>
      <% else %>
       <div class="ui toggle item"><i class="sidebar icon"></i>BRACKETS

      </div>

      <div class="ui toggle2 item"><i class="sidebar icon"></i>TOURNEY INFO

      </div>

      <% end %>
      <div class="ui toggle4 item"><i class="sidebar icon"></i>WRESTLERS

      </div>


      <div class="right menu">

      <% if user_signed_in? %>

        <% if current_user.admin? %>
          <div class="ui toggle5 item"><i class="sidebar icon"></i>ADMIN
          </div>

        <% end %>
        <div class="ui item">
          Welcome <%= (current_user.name).split(" ").first %>
        </div>
        <div class="ui item">
         <%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %>
         </div>
      <% else %>
      <div class="ui item">
        <%= link_to "SIGN IN", new_user_session_path %>
      </div>
      <% end %>

    </div>
  </div>

  <div class="mobile only tablet only row">
    <div class="item">
      <a href="http://www.cifncs.org"><img class="ui avatar image" src="/images/ncslogo.jpg"></a>
    </div>
    <div class="item">
      <%= link_to "Home", root_path %>
    </div>

      <% if user_signed_in? && (@user.league_rep == true) %>
      <div class="ui toggle3 item"><i class="sidebar icon"></i>LEAGUE ENTRY MENU

      </div>
      <div class="ui toggle4 item"><i class="sidebar icon"></i>WRESTLERS

    </div>
      <% else %>
    <div class="ui toggle item"><i class="sidebar icon"></i>BRACKETS

    </div>

    <div class="ui toggle2 item"><i class="sidebar icon"></i>TOURNEY INFO

    </div>

    <div class="ui toggle4 item"><i class="sidebar icon"></i>WRESTLERS

    </div>
      <% end %>
     <div class="right menu">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <div class="ui toggle5 item">ADMIN
          </div>
        <% end %>

        <div class="ui item">
         <%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %>
         </div>
      <% else %>
      <div class="ui item">
        <%= link_to "SIGN IN", new_user_session_path %>
      </div>
      <% end %>
      </div>


  </div>
  </div>
</div>








