


  <div class="ui inverted brackets sidebar vertical menu">
   <%= render partial: 'shared/result_links' %>
  </div>

  <div class="ui inverted info wide sidebar vertical menu">
    <a class="item">TOURNEY INFO</a>
    <a class="item"><%= link_to "Schedule", information_schedule_path %></a>
    <a class="item"><%= link_to "Seeds", information_seeds_path %></a>
    <a class="item"><%= link_to "Alerts", information_alerts_path %></a>
    <a class="item"><%= link_to "Help", information_help_path %></a>
    <br><br><br><br>
    <a class="item">PAST RESULTS</a>
     <div class="results">

    <a class="item"><%= link_to "2015", "http://cifncs.org/sports/wrestling/files/Results/2015/Final%20Brackets%20Boys.pdf" %></a>
    <a class="item"><%= link_to "2014", "http://cifncs.org/sports/wrestling/files/Results/2014/2014NCSFinalScoresPlacersBrackets.pdf" %></a>
    <a class="item"><%= link_to "2013", "http://cifncs.org/sports/wrestling/files/Results/2013/2013%20NCS%20Results.pdf" %></a>
    <a class="item"><%= link_to "2012", "http://cifncs.org/sports/wrestling/files/Results/2012/NCS2012FINALRESULTS.pdf" %></a>
    <a class="item"><%= link_to "2011", "http://cifncs.org/sports/wrestling/files/Results/2011/2011FINALBOYSpdf.pdf" %></a>
    <a class="item"><%= link_to "2010", "http://cifncs.org/sports/wrestling/files/Results/2010/NCS2010Brackets.pdf" %></a>
    <a class="item"><%= link_to "2009", "http://cifncs.org/sports/wrestling/files/Results/2009/TeamScores.pdf" %></a>
    <a class="item"><%= link_to "2008", "http://cifncs.org/sports/wrestling/files/Results/2008/2008FinalResults.pdf" %></a>
    <a class="item"><%= link_to "2007", "http://cifncs.org/sports/wrestling/files/Results/2007/2007FinalResults.pdf" %></a>
    <a class="item"><%= link_to "2006", "http://cifncs.org/sports/wrestling/files/Results/2006/2006FinalResults.pdf" %></a>
    <a class="item"><%= link_to "NCS ARCHIVES", "http://cifncs.org/sports/wrestling/files/Results/MasterResultsPage.htm" %></a>
    </div>

  </div>

  <div class="ui inverted league wide sidebar vertical menu">
     <a class="item">LEAGUES</a>

        <% @leagues.each do |l| %>

            <a class="item"><%= link_to "#{l.name}", league_path(l) %></a>
          <% end %>
      <% if user_signed_in? && (@user.league_rep == true) %>
      <div class="league"><br><br>
      <a class="item">TOURNEY INFO</a>
    <a class="item"><%= link_to "Schedule", information_schedule_path %></a>
    <a class="item"><%= link_to "Seeds", information_seeds_path %></a>
    <a class="item"><%= link_to "Alerts", information_alerts_path %></a>
    <a class="item"><%= link_to "Help", information_help_path %></a>
    </div><br><br>

    <div class="league">

    <%= render partial: 'shared/result_links' %>
        </div>
    <% end %>
  </div>

  <div class="ui inverted wrestler wide sidebar vertical menu">
    <div class="ui grid">
      <div class="mobile only tablet only row">
        <div class="item">VIEW BY LEAGUE</div>
        <% @leagues.each do |l| %>

            <a class="item"><%= link_to "#{l.name}", league_path(l) %></a>
          <% end %>
      </div>

        <div class="weight item">BY WEIGHT</div>
        <a class="item"><%= link_to "106", wrestlers_weight_106_path %></a>
        <a class="item"><%= link_to "113", wrestlers_weight_113_path %></a>
        <a class="item"><%= link_to "120", wrestlers_weight_120_path %></a>
        <a class="item"><%= link_to "126", wrestlers_weight_126_path %></a>
        <a class="item"><%= link_to "132", wrestlers_weight_132_path %></a>
        <a class="item"><%= link_to "138", wrestlers_weight_138_path %></a>
        <a class="item"><%= link_to "145", wrestlers_weight_145_path %></a>
        <a class="item"><%= link_to "152", wrestlers_weight_152_path %></a>
        <a class="item"><%= link_to "160", wrestlers_weight_160_path %></a>
        <a class="item"><%= link_to "170", wrestlers_weight_170_path %></a>
        <a class="item"><%= link_to "182", wrestlers_weight_182_path %></a>
        <a class="item"><%= link_to "195", wrestlers_weight_195_path %></a>
        <a class="item"><%= link_to "220", wrestlers_weight_220_path %></a>
        <a class="item"><%= link_to "285", wrestlers_weight_285_path %></a>
        <a class="item"><%= link_to "VIEW ALL", wrestlers_path %></a>
      </div>
  </div>

  <div class="ui inverted admin wide right sidebar vertical menu">
    <a class="item"><%= link_to "ADD USER", new_user_path %></a>
    <a class="item"><%= link_to "VIEW LEAGUES", leagues_path %></a>
    <a class="item"><%= link_to "VIEW WRESTLERS", wrestlers_path %></a>
    <a class="item"><%= link_to "SEND SMS ALERTS" %><i class="mobile icon"></i></a>
    <a class="item" id="wrestlers"><%= link_to "TOGGLE SETTINGS" %><i class="setting icon"></i></a>
  </div>

  <div class="ui center aligned top attached header">
   <b>NCS / Les Schwab Tires Wrestling Championships</b><br>JAMES LOGAN HIGH SCHOOL<br>Union City, California<br>Feb 26-27, 2016<br>

  </div>

  <div class="ui secondary main menu grid">
    <div class="computer only row">
      <div class="item">
        <a href="http://www.cifncs.org"><img class="ui avatar image" src="/images/ncslogo.jpg"></a>
      </div>
      <div class="item">
        <%= link_to "Home", root_path %>
      </div>


      <% if user_signed_in? && (@user.league_rep == true) %>
       <div class="ui toggle3 item"><i class="sidebar icon"></i>LEAGUE ENTRY MENU

      </div>
      <% else %>
       <div class="ui toggle item"><i class="sidebar icon"></i>BRACKETS

      </div>

      <div class="ui toggle2 item"><i class="sidebar icon"></i>TOURNEY INFO

      </div>
      <div class="ui toggle3 item"><i class="sidebar icon"></i>LEAGUES

      </div>


      <% end %>
      <div class="ui toggle4 item"><i class="sidebar icon"></i>WRESTLERS

      </div>


      <div class="right menu">

      <% if user_signed_in? %>

        <% if current_user.admin? %>
          <div class="ui toggle5 item"><i class="sidebar icon"></i>ADMIN
          </div>

        <% end %>
        <div class="ui item">
          Welcome <%= (current_user.name).split(" ").first %>
        </div>
        <div class="ui item">
         <%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %>
         </div>
      <% else %>
      <div class="ui item">
        <%= link_to "SIGN IN", new_user_session_path %>
      </div>
      <% end %>

    </div>
  </div>

  <div class="mobile only tablet only row">
    <div class="item">
      <a href="http://www.cifncs.org"><img class="ui avatar image" src="/images/ncslogo.jpg"></a>
    </div>
    <div class="item">
      <%= link_to "Home", root_path %>
    </div>

      <% if user_signed_in? && (@user.league_rep == true) %>
      <div class="ui toggle3 item"><i class="sidebar icon"></i>LEAGUE ENTRY MENU

      </div>
      <div class="ui toggle4 item"><i class="sidebar icon"></i>WRESTLERS

    </div>
      <% else %>
    <div class="ui toggle item"><i class="sidebar icon"></i>BRACKETS

    </div>

    <div class="ui toggle2 item"><i class="sidebar icon"></i>TOURNEY INFO

    </div>

    <div class="ui toggle4 item"><i class="sidebar icon"></i>WRESTLERS

    </div>
      <% end %>
     <div class="right menu">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <div class="ui toggle5 item">ADMIN
          </div>
        <% end %>

        <div class="ui item">
         <%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %>
         </div>
      <% else %>
      <div class="ui item">
        <%= link_to "SIGN IN", new_user_session_path %>
      </div>
      <% end %>
      </div>


  </div>
</div>







