<a class="item">BRACKETS</a>
<a class="item"><%= link_to "Team Scores" %></a>
<a class="item"><%= link_to "106" %></a>
<a class="item"><%= link_to "113" %></a>
<a class="item"><%= link_to "120" %></a>
<a class="item"><%= link_to "126" %></a>
<a class="item"><%= link_to "132" %></a>
<a class="item"><%= link_to "138" %></a>
<a class="item"><%= link_to "145" %></a>
<a class="item"><%= link_to "152" %></a>
<a class="item"><%= link_to "160" %></a>
<a class="item"><%= link_to "170" %></a>
<a class="item"><%= link_to "182" %></a>
<a class="item"><%= link_to "195" %></a>
<a class="item"><%= link_to "220" %></a>
<a class="item"><%= link_to "285" %></a>