          <tr>
            <td><%= wrestler.weight %>
                  <% if wrestler.seed %>
                  <br>(<%= wrestler.seed %>)
                  <% end %>
              </td>
            <% if user_signed_in? && current_user.admin? %>
            <td><% if wrestler.alternate == true %>
                  X
                <% end %>
                </td>
            <td><% if wrestler.scratch == true %>
                  X
                <% end %> 
                </td>
                <% end %>
        <% if wrestler.school.league %>
          <td><%= wrestler.school.name %> (<%= wrestler.school.league.name %>)</td>
        <% else %>
          <td><%= wrestler.school.name %> </td>
        <% end %>
        <td><%= link_to wrestler.first_name + " " + wrestler.last_name, wrestler_path(wrestler) %></td>
        <td><%= wrestler.grade %></td>

    <td><%= wrestler.wins %>-<%= wrestler.losses %></td>


  
         <% if Season.find(SeasonWrestler.where(wrestler_id: wrestler.id)[0].season_id).start_date > 2016 %>
    <td>
       <% @tourney_results.each do |t| %>
          <%= t[0] %> - <%= t[1] %><br>
        <% end %> 
    </td>
    <% else %>
    <td><% if wrestler.t1_name != "" && wrestler.t1_name != nil %>
        <%= wrestler.t1_name %> <%= wrestler.t1_place %><br>
        <% end %>
        <% if wrestler.t2_name != "" && wrestler.t2_name != nil %>
        <%= wrestler.t2_name %> <%= wrestler.t2_place %><br>
        <% end %>
        <% if wrestler.t3_name != "" && wrestler.t3_name != nil %>
        <%= wrestler.t3_name %> <%= wrestler.t3_place %><br>
        <% end %>
        <% if wrestler.t4_name != "" && wrestler.t4_name != nil %>
        <%= wrestler.t4_name %> <%= wrestler.t4_place %><br>
        <% end %>
        <% if wrestler.t5_name != "" && wrestler.t5_name != nil%>
        <%= wrestler.t5_name %> <%= wrestler.t5_place %><br>
        <% end %>
    </td>
  
  <% end %>
            <td><%= wrestler.league_place %></td>
            <td><%= wrestler.league_1ya %></td>
            <td><%= wrestler.section_place %></td>
            <td><%= wrestler.state_place %></td>
