<div class="two wide left aligned column">
      <h3>Season</h3>
      <% @seasons.each do |season| %>
        <div class="season">
          <%= link_to "#{season.name}", school_wrestlers_path(@school, season_id: season.id) %>
        </div>
      <% end %>
    </div>
    <div class="ten wide column">
      <b><%= @school.name %></b><br><br>
    <% if @season.id == Season.last.id %>
      <% if user_signed_in? && (current_user.admin? || current_user.school.name == @school.name || (current_user.league_id == @school.league_id) && current_user.league_rep == true ) %>
        <div class="ui animated fade button">
          <a href="/schools/<%= @school.id %>/wrestlers/new">
            <div class="visible content">ADD WRESTLER</div>
            <div class="hidden content">1 at a time</div>
          </a>
        </div><br>

        <div class="ui animated help button">
           <a href="/schools/<%= @school.id %>/wrestlers/help"> 
            <div class="visible content">UPLOAD ROSTER INSTRUCTIONS</div>
            <div class="hidden content download">Click for Instructions! READ ME!</div>
           </a>   
        </div>
        <br><br>
      
      <% end %>
      <% if @school.wrestlers.where(tourney_team: true).count > 0 %>
          <%= link_to "Export Tournament Team", tourney_team_school_wrestlers_path(@school, season_id: @season.id, format: "csv") %> <br> 
          <%= link_to "Export 2018 Roster", school_wrestlers_path(@school, season_id: @season.id, format: "csv") %>
          <% else %>
         <% if user_signed_in? && (current_user.admin? || current_user.school.name == @school.name || (current_user.league_id == @school.league_id) && current_user.league_rep == true ) %>
          <h2> YOU MUST SELECT YOUR TOURNAMENT TEAM FOR LEAGUE, NCS & OTHER TOURNAMENTS etc...<h2> 
          To do this, click "EDIT" next to a wrestler and check the box for tournament team.
          <% end %>
          <% end %>
    <% end %>
    </div>