<tr>
  <!-- <td><%= wrestler.seed %></td> -->
  <td><%= wrestler.weight %>
    <% if wrestler.seed %>
        <br>(<%= wrestler.seed %>)
    <% end %>
  </td>
    
   <% if wrestler.school.league %>
          <td><%= wrestler.school.name %> (<%= wrestler.school.league.name %>)</td>
        <% else %>
          <td><%= wrestler.school.name %> </td>
        <% end %>
  <td><%= link_to "#{wrestler.first_name + ' ' + wrestler.last_name}", wrestler_path(wrestler, season_id: @season.id) %></td>
  <td><%= wrestler.grade %></td>
  

    <td><%= wrestler.wins %>-<%= wrestler.losses %></td>

  

              <% wrestler.bouts.each do |bout| %>
                <% if bout.tourney_place && bout.tourney_place > 0 %>
                  <% unless @tourney_results.include?([bout.tourney_name, bout.tourney_place]) %>
                    <% @tourney_results << [bout.tourney_name, bout.tourney_place] %>
                  <% end %>
                <% end %>
              <% end %>
              <% if wrestler.t1_name != "" && wrestler.t1_name != nil && wrestler.t1_name != " " %>
               <% @tourney_results << [ wrestler.t1_name, wrestler.t1_place] %>
             <% end %>
             <% if wrestler.t2_name != "" && wrestler.t2_name != nil && wrestler.t2_name != " " %>
               <% @tourney_results << [ wrestler.t2_name, wrestler.t2_place] %>
             <% end %>
             <% if wrestler.t3_name != "" && wrestler.t3_name != nil && wrestler.t3_name != " " %>
               <% @tourney_results << [ wrestler.t3_name, wrestler.t3_place] %>
             <% end %>
             <% if wrestler.t4_name != "" && wrestler.t4_name != nil && wrestler.t4_name != " " %>
               <% @tourney_results << [ wrestler.t4_name, wrestler.t4_place] %>
             <% end %>
             <% if wrestler.t5_name != "" && wrestler.t5_name != nil && wrestler.t5_name != " " %>
               <% @tourney_results << [ wrestler.t5_name, wrestler.t5_place] %>
             <% end %>
            
<% if Season.find(SeasonWrestler.where(wrestler_id: wrestler.id)[0].season_id).start_date > 2016 %>
    <td>
      <% if wrestler.t1_name != "" && wrestler.t1_name != nil %>
        <%= wrestler.t1_name %> <%= wrestler.t1_place %><br>
        <% end %>
        <% if wrestler.t2_name != "" && wrestler.t2_name != nil %>
        <%= wrestler.t2_name %> <%= wrestler.t2_place %><br>
        <% end %>
        <% if wrestler.t3_name != "" && wrestler.t3_name != nil %>
        <%= wrestler.t3_name %> <%= wrestler.t3_place %><br>
        <% end %>
        <% if wrestler.t4_name != "" && wrestler.t4_name != nil %>
        <%= wrestler.t4_name %> <%= wrestler.t4_place %><br>
        <% end %>
        <% if wrestler.t5_name != "" && wrestler.t5_name != nil%>
        <%= wrestler.t5_name %> <%= wrestler.t5_place %><br>
        <% end %>
         <% if wrestler.t6_name != "" && wrestler.t6_name != nil%>
        <%= wrestler.t6_name %> <%= wrestler.t6_place %><br>
        <% end %>
        <% if wrestler.t7_name != "" && wrestler.t7_name != nil%>
        <%= wrestler.t7_name %> <%= wrestler.t7_place %><br>
        <% end %>
        <% if wrestler.t8_name != "" && wrestler.t8_name != nil%>
        <%= wrestler.t8_name %> <%= wrestler.t8_place %><br>
        <% end %>
    </td>
  
          <% end %>


  <td><%= wrestler.league_place %></td>
  <td><%= wrestler.league_1ya %></td>
  <td><%= wrestler.section_place %><br>
     <% if wrestler.season_id != nil  %>
              <% if Wrestler.where(first_name: wrestler.first_name, grade: wrestler.grade-1, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0] && wrestler.section_place != nil%>
               <div style="font-size: 0.65em">
               (<%= Wrestler.where(first_name: wrestler.first_name, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0].weight %>)
               </div>
               <% end %>
               <% end %>
    
  </td>
  <td><%= wrestler.state_place %></td>
  
  


           <% if user_signed_in? && (current_user.admin? || (current_user.league_id == @lg.id && current_user.league_rep == true) || current_user.school.name == wrestler.school.name ) && wrestler.season_id == Season.last.id %>
    
    <td><%= link_to 'Edit', edit_wrestler_path(wrestler) %></td>
    
    <td><%= link_to 'Delete', wrestler, method: "delete", :data => {:confirm => 'Are you sure?'} %> </td>
    <td><%= link_to wrestler_path(wrestler, format: "pdf") do %><i class="file pdf outline icon"></i>
         </td>
         <% end %>
  <% end %>
</tr>