
<div class="wrestler">
  <%= @league_placers.each do |wrestler| %>
   <span style="text-align:left;font-size:0.8em"><%= wrestler.league.name %></span>
  <h3 style="text-align:center">Wrestling Registration</h3>
  <% if wrestler.league_place.in?(["ALT-1", "ALT-2", "ALT-3", "ALT-4", "ALT-5"]) %>
    <h4 style="text-align:center">** ALTERNATE ** &emsp;&emsp;&emsp;&emsp; AT LARGE: ___</h4>
  <% end %>
  <TABLE BORDER="1" CELLPADDING="5" CELLSPACING="0">
    <TD style="width:35%font-size:13px;">
      Gender: <%= wrestler.gender ? "m" && "Male" : "Female" %><br>
      Weight: <%= wrestler.weight %><br>
      League Place:  <%= wrestler.league_place %><br>
      Grade: <%= wrestler.grade %><br>
      Name: <%= wrestler.first_name.upcase %> <%= wrestler.last_name.upcase %><br>
      School: <%= wrestler.school.name.upcase %><br>
      League: <%= wrestler.league.name %><br>
      _____________________________________________<br>
      <b>SEEDING INFORMATION</b><br><br>
    
          Overall Record: &emsp;&emsp;<%= wrestler.wins %>-<%= wrestler.losses %> (incl. forfeit)<br>
        <%= Season.find(wrestler.season_id).start_date %> NCS Place: &emsp;&emsp;&emsp;&nbsp;<%= wrestler.section_place %> (wt:
        <% if wrestler.season_id != nil  %>
          <% if Wrestler.where(first_name: wrestler.first_name, grade: wrestler.grade-1, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0] && wrestler.section_place != nil%>
           <%= Wrestler.where(first_name: wrestler.first_name, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0].weight %>
           <% else %>
            ___
           <% end %>
         
         <% end %>)<br>
       <%= Season.find(wrestler.season_id).start_date %> STATE Place: &emsp;&emsp;<%= wrestler.state_place %> (wt:
        <% if wrestler.season_id != nil  %>
        <% if Wrestler.where(first_name: wrestler.first_name, grade: wrestler.grade-1, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0] && wrestler.state_place != nil%>
         <%= Wrestler.where(first_name: wrestler.first_name, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0].weight %>
         <% else %>
         ___
         <% end %>
         <% end %>)<br><br>
        <!-- NCS Losses: &emsp;&emsp;&emsp;&nbsp;<%= wrestler.losses_ncs %><br><br> -->

        <b>My athlete is eligible under all CIF, NCS, NFHS rules.</b><br><br>
    Coach's Signature:
    ___________________________
    <br>
            _____________________________________________<br>
            <b>Please do not write below line</b><br><br>
            Friday:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Saturday:<br>
            Wt:________________ &emsp;&emsp;Wt: _______________<br><br>
            Wrestler:____________&emsp;&emsp;Wrestler:____________<br><br>
            Official:____________&emsp;&emsp;&ensp;Official:____________<br>
  </td>

  <TD style="vertical-align:top;width:85%;text-align:center;">
  <TABLE BORDER="1" CELLPADDING="1" CELLSPACING="0">
  
           
           <% if wrestler.bouts && wrestler.bouts.count > 0 %>
            <TD>#</TD>
           <TD>W/L</TD>
           <TD>DATE</TD>
           <TD>WT</TD>
           <TD>D/T</TD>
           <TD>TOURNEY</TD>
           <TD>OPPONENT</TD>
           <TD>SCHOOL</TD>
           <TD>TYPE</TD>
           <TD>SCORE</TD>
           <TD>PLACE</TD>
            <% wrestler.bouts.order('date ASC').each do |bout| %>

              <tr>
                <td style="width:75%;text-align:left;font-size:7px;"><%= @count %></td> 
                <td style="width:75%;text-align:left;font-size:7px;"><%= bout.win_loss %></td>
                <td style="width:75%;text-align:left;font-size:7px;"><%= bout.date %>
                </td>
                <td style="width:75%;text-align:left;font-size:7px;"><%= bout.weight %>
                </td>
                <td style="width:75%;text-align:left;font-size:7px;"><%= bout.dual_or_tourney %>
                </td>
                <td style="width:75%;text-align:left;font-size:7px;"><%= bout.tourney_name %>
                </td>
                <td style="width:75%;text-align:left;font-size:7px;"><%= bout.opponent_name %>
                </td>
                <td style="width:75%;text-align:left;font-size:7px;"><%= bout.opponent_team %>
                </td>
                <td style="width:75%;text-align:left;font-size:7px;"><%= bout.result_type %>
                </td>
                <td style="width:75%;text-align:left;font-size:7px;"><%= bout.score_time %>
                </td>
                <td style="width:75%;text-align:left;font-size:7px;"><%= bout.tourney_place %>
                </td>
              </tr>
              <% @count += 1 %>
            <% end %>
            <% @count = 1 %>
          <% else %>
          <td>Tournament Name</td>
          <td>Tournament Place</td>
         
            <% if wrestler.t1_name != "" && wrestler.t1_name != nil %>
              <tr>
                <td><%= wrestler.t1_name %></td><td> <%= wrestler.t1_place %></td>
              </tr>
            <% end %>
            <% if wrestler.t2_name != "" && wrestler.t2_name != nil %>
            <tr>
              <td><%= wrestler.t2_name %></td><td> <%= wrestler.t2_place %></td>
              </tr>
            <% end %>
            <% if wrestler.t3_name != "" && wrestler.t3_name != nil %>
            <tr>
              <td><%= wrestler.t3_name %></td> <td><%= wrestler.t3_place %></td>
              </tr>
            <% end %>
            <% if wrestler.t4_name != "" && wrestler.t4_name != nil %>
            <tr><td><%= wrestler.t4_name %></td> <td><%= wrestler.t4_place %></td>
            </tr>
            <% end %>
            <% if wrestler.t5_name != "" && wrestler.t5_name != nil%>
            <tr><td><%= wrestler.t5_name %></td> <td><%= wrestler.t5_place %></td></tr>
            <% end %>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            
          <% end %>
          
          
          </TABLE>
          <TABLE><br>
          <td style="width:50em;font-size:10px;">COMMENTS:</td>
          
          <tr><td style="font-size:8px;"><%=wrestler.comments %></td></tr>
          </TABLE>

  </TD>
  </TABLE>
<div class="alwaysbreak" style="page-break-before: always">
  </div>
  <% end %>
</div>

