<div class="ui center aligned grid">

  <!--   <% if user_signed_in? && (current_user.league_id || current_user.school_id || current_user.admin?) %>
     <div class="ui center aligned segment">
  <h4>All changes must be emailed to lhkatz@pacbell.net AND bniemi@cifncs.org</h4>
  </div>
  <% end %>
 -->

  <div class="ui mobile only row">
    <div class="two wide left aligned column">
    <h3>Season</h3>
      <% Season.all.order('id DESC').each do |season| %>
        <div class="season">
          <%= link_to "#{season.name}", league_wrestlers_path(@lg, season_id: season.id) %></div>
      <% end %>
    </div>
     <div class="ten wide column">
       <% if @season != 1 %>
         <b><%= @lg.name %></b><br>(<%= Season.find(@season.id).name %> season)<br>(<%= @lg.wrestlers.where(tourney_team: true, season_id: @season.id).count %>)<br><br>
       <% else %>
         <b><%= @lg.name %></b><br>(<%= Season.find(@season.id).name %> season)<br>(<%= @lg.wrestlers.where(season_id: @season.id).count %>)<br><br>
       <% end %>

    <% if user_signed_in? && (current_user.admin? ||  (current_user.league_id == @lg.id && current_user.league_rep == true )) %>
        <div class="ui animated large button">
          <a href="/leagues/<%= @lg.id %>/wrestlers/edit_all">
            <div class="visible content">EDIT ALL WRESTLERS</div>
            <div class="hidden content download">UPDATE LEAGUE PLACERS</div>
          </a>
        </div>
        <% end %>
        </div>
    <div class="ui center aligned segment">
    
      <table class="ui celled center aligned structured stackable table">
       <thead>
           <tr>
        <th rowspan="2">WEIGHT</th>
        
        <th rowspan="2">SCHOOL</th>
        <th rowspan="2">NAME </th>
        <th rowspan="2">YR</th>
        <th rowspan="2">RECORD</th>
        <th rowspan="2">TOURNAMENTS<br>RESULTS</th>
        <th rowspan="2"><%= Season.last.end_date %> LEAGUE PLACE</th>
        <th colspan="3"><%= Season.last.start_date %></th>
         <% if user_signed_in? && (current_user.admin? || (current_user.league_id == @lg.id && current_user.league_rep == true ) || current_user.coach == true ) %>
        <th rowspan="2">Edit</th>
        <th rowspan="2">Delete</th>
        
        <th rowspan="2">WT Card<br>PDF</th>
        <% end %>
        
      </tr>
      <tr>
        <th rowspan="1">LEAGUE</th>
        <th rowspan="1">NCS</th>
        <th rowspan="1">STATE</th>
      </tr>

        </thead>
        <tbody>
          <% @wrestlers.each do |wrestler| %>
             <%= render partial: 'leagues/wrestlers/table_row', locals: { wrestler: wrestler, season: @season } %>
            <% end %>

        </tbody>
      </table>
    </div>
  </div>
  <div class="ui computer only tablet only row">
    <div class="two wide left aligned column">
    <h3>Season</h3>
      <% Season.all.order('id DESC').each do |season| %>
        <div class="season">
          <%= link_to "#{season.name}", league_wrestlers_path(@lg, season_id: season.id) %></div>
      <% end %>
    </div>
    <div class="ten wide column">
       <% if @season != 1 %>
         <b><%= @lg.name %></b><br>(<%= Season.find(@season.id).name %> season)<br>(<%= @lg.wrestlers.where(tourney_team: true, season_id: @season.id).count %>)<br><br>
       <% else %>
         <b><%= @lg.name %></b><br>(<%= Season.find(@season.id).name %> season)<br>(<%= @lg.wrestlers.where(season_id: @season.id).count %>)<br><br>
       <% end %>
       Download:
            <%= link_to "CSV", league_wrestlers_path(format: "csv") %> <br><br>
    
      <% if user_signed_in? && (current_user.admin? ||  (current_user.league_id == @lg.id && current_user.league_rep == true )) %>
        <div class="ui animated large button">
          <a href="/leagues/<%= @lg.id %>/wrestlers/edit_all">
            <div class="visible content">EDIT ALL WRESTLERS</div>
            <div class="hidden content download">UPDATE LEAGUE PLACERS</div>
          </a>
        </div>
        <% end %>
</div><br>
    <div class="ui center aligned segment">
    
      <table class="ui celled center aligned structured stackable table">
        <thead>
           <tr>
        <th rowspan="2">WEIGHT</th>
        
        <th rowspan="2">SCHOOL</th>
        <th rowspan="2">NAME </th>
        <th rowspan="2">YR</th>
        <th rowspan="2">RECORD</th>
        <th rowspan="2">TOURNAMENTS<br>RESULTS</th>
        <th rowspan="2"><%= Season.last.end_date %> LEAGUE PLACE</th>
        <th colspan="3"><%= Season.last.start_date %></th>
         <% if user_signed_in? && (current_user.admin? || (current_user.league_id == @lg.id && current_user.league_rep == true ) || current_user.coach == true ) %>
        <th rowspan="2">Edit</th>
        <th rowspan="2">Delete</th>
        
        <th rowspan="2">WT Card<br>PDF</th>
        <% end %>
        
      </tr>
      <tr>
        <th rowspan="1">LEAGUE</th>
        <th rowspan="1">NCS</th>
        <th rowspan="1">STATE</th>
      </tr>

        </thead>
        <tbody>
          <% @wrestlers.each do |wrestler| %>

            <% wrestler.bouts.map{ |bout| bout.win_loss == "W" ? @wins << bout : @wins } %>
            <% wrestler.bouts.map{ |bout| bout.win_loss == "L" ? @losses << bout : @losses } %>
            <% wrestler.bouts.map{ |bout| bout.tourney_place ? @tourneys << bout : @tourneys } %>
             <%= render partial: 'leagues/wrestlers/table_row', locals: { wrestler: wrestler, season: @season } %>
             <% @tourneys = [] %>
             <% @wins = [] %>
             <% @losses = [] %>
            <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="ui grid">
  <div class="five column row">
    <div class="center aligned column"></div>
    <div class="column"></div>
    <div class="center aligned column">




        <p>




        </p>

    </div>

    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>
<div class="ui segment">
<div class="ui center aligned grid">
  <div class="center aligned three column row">
    <div class="column">

    </div>
    <div class="column">
    <u>SCHOOLS</u><br>
        <% @schools.order('name ASC').each do |school| %>
            <div class="segment"><b><%= school.name %></b></div>
          <% end %>


    </div>
    <div class="column">

    </div>
  </div>
</div>
</div>

