<div class="ui center aligned grid">

    <div class="mobile only tablet only row">
    <div class="ui segment">
    <table class="ui celled right aligned structured stackable table">
        <thead>
          <tr>

            <th rowspan="1">SEED</th>
            <th rowspan="1">WEIGHT</th>
             <th rowspan="1">LEAGUE PL</th>
            <th rowspan="1">SCHOOL</th>
            <th rowspan="1">NAME </th>
            <th rowspan="1">YR</th>


            <th rowspan="1">W/L</th>
             <th rowspan="1">SEC Pl</th>






            <% if user_signed_in? && (current_user.admin? || current_user.league || current_user.school) %>
            <th rowspan="1">Edit</th>
            <th rowspan="1">Delete</th>
            <% end %>
          </tr>


        </thead>
        <tbody>
          <% @wrestlers.each do |wrestler, user| %>

              <tr>
                <td><%= wrestler.seed %></td>
                <td><%= wrestler.weight %></td>
                <td><%= wrestler.league_place %></td>
                <td><%= wrestler.school.name %><br>(<%= wrestler.school.league.name %>)</td>
                <td><%= wrestler.first_name + " " + wrestler.last_name %></td>
                <td><%= wrestler.grade %></td>
                <td><%= wrestler.wins %>-<%= wrestler.losses %></td>
                 <td><%= wrestler.section_place %><br>
                <% if wrestler.season_id != nil && wrestler.grade != nil  %>
                  <% if Wrestler.where(first_name: wrestler.first_name, grade: wrestler.grade-1, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0] && wrestler.section_place != nil%>
                    <div style="font-size: 0.65em">
                (<%= Wrestler.where(first_name: wrestler.first_name, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0].weight %>)
               </div>
               <% end %>
               <% end %>
                </td>




               

              </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>

    <div class="computer only row">
    <div class="ui center aligned segment">
              <% if user_signed_in? && (current_user.admin? || current_user.league_rep || current_user.coach) %>
          Download:
            <%= link_to "CSV", information_seeds_path(format: "csv") %>
           <% end %>

      <table class="ui celled right aligned structured stackable table">
        <thead>
          <tr>

            <th rowspan="1">SEED</th>
            <th rowspan="1">WEIGHT</th>
             <th rowspan="1">LEAGUE PL</th>
            <th rowspan="1">SCHOOL</th>
            <th rowspan="1">NAME </th>
            <th rowspan="1">YR</th>


            <th rowspan="1">W/L</th>


            <th rowspan="1">SEC Pl</th>
            <th rowspan="1">ST Pl</th>






          </tr>


        </thead>
        <tbody>
          <% @wrestlers.each do |wrestler, user| %>

              <tr>
                <td><%= wrestler.seed %></td>
                <td><%= wrestler.weight %></td>
                <td><%= wrestler.league_place %></td>
                <td><%= wrestler.school.name %><br>(<%= wrestler.school.league.name %>)</td>
                <td><%= wrestler.first_name + " " + wrestler.last_name %></td>
                <td><%= wrestler.grade %></td>
              
                  <td><%= wrestler.wins %>-<%= wrestler.losses %></td>



                <td><%= wrestler.section_place %><br>
                <% if wrestler.season_id != nil && wrestler.grade != nil  %>
                  <% if Wrestler.where(first_name: wrestler.first_name, grade: wrestler.grade-1, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0] && wrestler.section_place != nil%>
                    <div style="font-size: 0.65em">
                (<%= Wrestler.where(first_name: wrestler.first_name, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0].weight %>)
               </div>
               <% end %>
               <% end %>
                </td>
                <td><%= wrestler.state_place %></td>



              </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      </div>

</div>


