<div class="ui center aligned segment">
      <p>
          <% if user_signed_in? && current_user.admin? %>
          Download:
            <%= link_to "CSV", wrestlers_path(format: "csv") %> |
            <%= link_to "Excel", wrestlers_path(format: "csv") %><br><br>
            <% end %>

        </p>

  <table class="ui celled right aligned structured stackable table">
    <thead>
      <tr>

        <th rowspan="1">SEED</th>
        <th rowspan="1">WEIGHT</th>
         <th rowspan="1">LEAGUE PL</th>
        <th rowspan="1">SCHOOL</th>
        <th rowspan="1">NAME </th>
        <th rowspan="1">YR</th>


        <th rowspan="1">W/L</th>


        <th rowspan="1">SEC Pl</th>
        <th rowspan="1">ST Pl</th>

        <th colspan="1">Tournament Places</th>
        <th colspan="1">H2H</th>



        <% if user_signed_in? && (current_user.admin? || current_user.league || current_user.school) %>
        <th rowspan="1">Edit</th>
        <th rowspan="1">Delete</th>
        <% end %>
      </tr>
      <tr>

    </thead>
    <tbody>
      <% @wrestlers.each do |wrestler, user| %>

          <tr>
            <td><%= wrestler.seed %></td>
            <td><%= wrestler.weight %></td>
            <td><%= wrestler.league_place %></td>
            <td><%= wrestler.school.name %><br>(<%= wrestler.school.league.name %>)</td>
            <td><%= wrestler.first_name + " " + wrestler.last_name %></td>
            <td><%= wrestler.grade %></td>
            <td><%= wrestler.wins %>-<%= wrestler.losses %></td>



            <td><%= wrestler.section_place %></td>
            <td><%= wrestler.state_place %></td>

            <td><%= wrestler.t1_name %>&emsp;<%= wrestler.t1_place %><br>
            <%= wrestler.t2_name %>&emsp;<%=  wrestler.t2_place %><br>
            <%= wrestler.t3_name %>&emsp;<%= wrestler.t3_place %><br>
            <%= wrestler.t4_name %>&emsp;<%= wrestler.t4_place %><br>
            <%= wrestler.t5_name %>&emsp;<%=  wrestler.t5_place %></td>
            <td><%= wrestler.h2h_1 %>&emsp;<%= wrestler.h2h_r1 %><br>
            <%= wrestler.h2h_2 %>&emsp;<%= wrestler.h2h_r2 %><br>
            <%= wrestler.h2h_3 %>&emsp;<%= wrestler.h2h_r3 %><br>
            <%= wrestler.h2h_4 %>&emsp;<%= wrestler.h2h_r4 %><br>
            <%= wrestler.h2h_5 %>&emsp;<%= wrestler.h2h_r5 %></td>

            <% if user_signed_in? && (current_user.admin? || (current_user.league && current_user.league.name == wrestler.league) || current_user.school_id == wrestler.school_id) %>
              <td><%= link_to 'Edit', edit_wrestler_path(wrestler) %></td>
              <% else %>
              <td></td>
            <% end %>
            <% if user_signed_in? && (current_user.admin? || (current_user.league && current_user.league.name == wrestler.league)) %>
          <td><%= link_to 'Delete', wrestler, method: "delete", :data => {:confirm => 'Are you sure?'} %> </td>
          <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>