<div class="ui center aligned grid" style="padding:15px">
  <div class="ui mobile only row">
     <div class="sixteen wide column">
      <b><%= @wrestler.first_name %> <%=@wrestler.last_name%></b>
    </div>
    <%= render partial: 'wrestlers/match_table' %>
    <% @match_number = 1 %>
  </div>
  <div class="ui computer only tablet only">
    <div class="ui grid">
      <div class="five wide column">
       <b><%= @wrestler.first_name %> <%=@wrestler.last_name%></b><br>
       <%= @wrestler.school.name %><br>
       Grade: <%= @wrestler.grade %>
      </div>
       
        <%= link_to "View Wrestler Weight Card PDF", wrestler_path(@wrestler, format: "pdf") %>
  <div class="center aligned row">
      <div class="ui segment">
  <table class="ui celled center aligned structured stackable table">
    <thead>
      <tr>
        <th rowspan="2">WEIGHT</th>
        
        <th rowspan="2">SCHOOL</th>
        <th rowspan="2">NAME </th>
        <th rowspan="2">YR</th>
        <th rowspan="2">RECORD</th>
        <th rowspan="2">TOURNAMENT<br>RESULTS</th>
        <% if (@season.id - 1) != 0 %>
          <th colspan="3"><%= Season.find((@season.id - 1)).name %></th>
          <% else %>
          <th colspan="3"><%= @season.start_date - 1 %></th>
          <% end %>
        <th rowspan="2">COMMENTS</th>
        
      </tr>
      <tr>
        <th rowspan="1">LEAGUE</th>
        <th rowspan="1">NCS</th>
        <th rowspan="1">STATE</th>
      </tr>
    </thead>
    <tbody>
     
                    
          <tr>
            <td><%= @wrestler.weight %>
                  <% if @wrestler.seed %>
                  <br>(<%= @wrestler.seed %>)
                  <% end %>
              </td>
            
            <% if @wrestler.school.league %>
            <td><%= @wrestler.school.name %> (<%= @wrestler.school.league.name %>)</td>
            <% else %>
              <td><%= @wrestler.school.name %> </td>
            <% end %>
            <td><%= @wrestler.first_name + " " + @wrestler.last_name %></td>
            <td><%= @wrestler.grade %></td>
            <td><%= @wrestler.bouts.where(win_loss: "W").count %>-<%= @wrestler.bouts.where(win_loss: "L").count %></td>
          <td><% if @wrestler.t1_name != "" && @wrestler.t1_name != nil %>
      <%= @wrestler.t1_name %> <%= @wrestler.t1_place %><br>
      <% end %>
      <% if @wrestler.t2_name != "" && @wrestler.t2_name != nil %>
      <%= @wrestler.t2_name %> <%= @wrestler.t2_place %><br>
      <% end %>
      <% if @wrestler.t3_name != "" && @wrestler.t3_name != nil %>
      <%= @wrestler.t3_name %> <%= @wrestler.t3_place %><br>
      <% end %>
      <% if @wrestler.t4_name != "" && @wrestler.t4_name != nil %>
      <%= @wrestler.t4_name %> <%= @wrestler.t4_place %><br>
      <% end %>
      <% if @wrestler.t5_name != "" && @wrestler.t5_name != nil%>
      <%= @wrestler.t5_name %> <%= @wrestler.t5_place %><br>
      <% end %>
  </td>
 
            <td><%= @wrestler.league_place %></td>
            <td><%= @wrestler.section_place %></td>
            <td><%= @wrestler.state_place %></td>
            <td><%= @wrestler.comments %></td>
          </tr>
      
    </tbody>
  </table>
  </div>
</div>
    <% if SeasonWrestler.where(wrestler_id: @wrestler.id)[0].season_id == Season.last.id %>
      <% if user_signed_in? &&  (current_user.admin? || (current_user.league.name == @wrestler.school.league.name) || current_user.school_id == @wrestler.school_id ) %>
        <div class="sixteen wide center aligned column">
          <i class="add user icon"></i><%= link_to 'ADD MATCH RESULT', new_wrestler_bout_path(@wrestler) %>
        </div><br>
      <% end %>
    <% end %>
    </div>
    <%= render partial: 'wrestlers/match_table', locals: { bouts: @bouts } %>

  </div>
</div>