<tr>
  <td><%= wrestler.weight %>
     <% if wrestler.seed %>
        <br>(<%= wrestler.seed %>)
    <% end %></td>
  <td><%= wrestler.league_place %></td>
  <td><%= wrestler.school.name %> (<%= wrestler.school.league.name %>)</td>
  <td><%= wrestler.first_name %></td>
  <td><%= wrestler.last_name %></td>
  <td><%= wrestler.grade %></td>
  <td><%= wrestler.wins %></td>
  <td><%= wrestler.losses %></td>


  <td><%= wrestler.section_place %></td>
  <td><%= wrestler.state_place %></td>
    <td><% if wrestler.t1_name != "" && wrestler.t1_name != nil %>
      <%= wrestler.t1_name %> <%= wrestler.t1_place %><br>
      <% end %>
      <% if wrestler.t2_name != "" && wrestler.t2_name != nil %>
      <%= wrestler.t2_name %> <%= wrestler.t2_place %><br>
      <% end %>
      <% if wrestler.t3_name != "" && wrestler.t3_name != nil %>
      <%= wrestler.t3_name %> <%= wrestler.t3_place %><br>
      <% end %>
      <% if wrestler.t4_name != "" && wrestler.t4_name != nil %>
      <%= wrestler.t4_name %> <%= wrestler.t4_place %><br>
      <% end %>
      <% if wrestler.t5_name != "" && wrestler.t5_name != nil%>
      <%= wrestler.t5_name %> <%= wrestler.t5_place %><br>
      <% end %>
  </td>
  <td><% if wrestler.h2h_1 != "" && wrestler.h2h_1 != nil %>
      <%= wrestler.h2h_1 %> <%= wrestler.h2h_r1 %><br>
      <% end %>
      <% if wrestler.h2h_2 != "" && wrestler.h2h_2 != nil %>
      <%= wrestler.h2h_2 %> <%= wrestler.h2h_r2 %><br>
      <% end %>
      <% if wrestler.h2h_3 != "" && wrestler.h2h_3 != nil %>
      <%= wrestler.h2h_3 %> <%= wrestler.h2h_r3 %><br>
      <% end %>
      <% if wrestler.h2h_1 != "" && wrestler.h2h_4 != nil  %>
      <%= wrestler.h2h_4 %> <%= wrestler.h2h_r4 %><br>
      <% end %>
      <% if wrestler.h2h_1 != "" && wrestler.h2h_5 != nil %>
      <%= wrestler.h2h_5 %> <%= wrestler.h2h_r5 %><br>
      <% end %>
  </td>


  <% if user_signed_in? &&  (current_user.admin? ) %>
    <td><%= link_to 'Edit', edit_wrestler_path(wrestler) %></td>
     <% end %>
    <% if user_signed_in? && (current_user.admin?) %>
    <td><%= link_to 'Delete', wrestler, method: "delete", :data => {:confirm => 'Are you sure?'} %> </td>
  <% end %>




</tr>