
<div class="ui center aligned grid" style="padding-right: 10em;padding-left: 10em;">
  
   <div class="ui segment">
    <%= form_tag compare_selected_wrestlers_path, method: :post do %>
     <div class="ui center aligned segment"> 
       <%= submit_tag "COMPARE WRESTLERS"%>
     </div>
     <table class="ui celled center aligned structured stackable table">
       <thead>
         <tr>
           <th rowspan="2">CHECK TO COMPARE</th>
           <th rowspan="2">WEIGHT</th>
           <th rowspan="2">SCHOOL</th>
           <th rowspan="2">NAME </th>
           <th rowspan="2">YR</th>
           <th rowspan="2">RECORD</th>
           <th rowspan="2"><%= Season.last.end_date %> LEAGUE PLACE</th>
           <th colspan="2"><%= Season.last.start_date %> PLACES</th>
         </tr>
         <tr>
           <th rowspan="1">NCS</th>
           <th rowspan="1">STATE</th>
         </tr>
       </thead>
       <tbody>
         <% @wrestlers.each do |wrestler| %>
                <%= fields_for "wrestlers[]", wrestler do |f| %>  
            
               <tr>
                <td>
                  <div class="field">
                <%= f.check_box :checked %>
              </div>
                <%= f.hidden_field :school_id, :value => wrestler.school_id %>
                <%= f.hidden_field :first_name, :value => wrestler.first_name %>
                <%= f.hidden_field :last_name, :value => wrestler.last_name %>
                <%= f.hidden_field :weight, :value => wrestler.weight %>
                <%= f.hidden_field :id, :value => wrestler.id %>
                </td>
                <td><%= wrestler.weight %>
                      <% if wrestler.seed %>
                      <br>(<%= wrestler.seed %>)
                      <% end %>
                  </td>
                
             
              <td><%= wrestler.school.name %> </td>
            <td><%= wrestler.first_name + " " + wrestler.last_name %></td>
            <td><%= wrestler.grade %></td>
        <td><%= wrestler.wins %>-<%= wrestler.losses %></td>

      
                <td><%= wrestler.league_place %></td>
                <td><%= wrestler.section_place %><br>
                  <% if wrestler.season_id != nil  %>
              <% if Wrestler.where(first_name: wrestler.first_name, grade: wrestler.grade-1, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0] && wrestler.section_place != nil%>
               <div style="font-size: 0.65em">
               (<%= Wrestler.where(first_name: wrestler.first_name, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0].weight %>)
               </div>
               <% end %>
               <% end %>
                </td>

                <td><%= wrestler.state_place %></td>
      <tr>

                 <% @tourney_results = [] %>
                 
             

          <% end %>
          <% end %>
        </tbody>
      </table>
  <% end %>
</div>
</div>