
<div class="ui center aligned grid" style="padding-right: 10em;padding-left: 10em;">
  
   <div class="ui segment">
    <%= form_tag compare_selected_wrestlers_path, method: :get do %>
     <div class="ui center aligned segment"> 
       <%= submit_tag "COMPARE WRESTLERS"%>
     </div>
     <table class="ui celled center aligned structured stackable table">
       <thead>
         <tr>
           <th rowspan="2">CHECK TO COMPARE</th>
           <th rowspan="2">WEIGHT</th>
           <th rowspan="2">SCHOOL</th>
           <th rowspan="2">NAME </th>
           <th rowspan="2">YR</th>
           <th rowspan="2">RECORD</th>
           <th rowspan="2">TOURNAMENT<br>RESULTS</th>
           <th rowspan="2">2018 LEAGUE PLACE</th>
           <th colspan="3">2017 PLACES</th>
         </tr>
         <tr>
           <th rowspan="">LEAGUE</th>
           <th rowspan="1">NCS</th>
           <th rowspan="1">STATE</th>
         </tr>
       </thead>
       <tbody>
         <% @wrestlers.each do |wrestler| %>
                <%= fields_for "wrestlers[]", wrestler do |f| %>  
                  <% wrestler.bouts.each do |bout| %>
                    <% if bout.tourney_place && bout.tourney_place > 0 %>
                      <% unless @tourney_results.include?([bout.tourney_name, bout.tourney_place]) %>
                        <% @tourney_results << [bout.tourney_name, bout.tourney_place] %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if wrestler.t1_name != "" && wrestler.t1_name != nil && wrestler.t1_name != " " %>
                   <% @tourney_results << [ wrestler.t1_name, wrestler.t1_place] %>
                 <% end %>
                 <% if wrestler.t2_name != "" && wrestler.t2_name != nil && wrestler.t2_name != " " %>
                   <% @tourney_results << [ wrestler.t2_name, wrestler.t2_place] %>
                 <% end %>
                 <% if wrestler.t3_name != "" && wrestler.t3_name != nil && wrestler.t3_name != " " %>
                   <% @tourney_results << [ wrestler.t3_name, wrestler.t3_place] %>
                 <% end %>
                 <% if wrestler.t4_name != "" && wrestler.t4_name != nil && wrestler.t4_name != " " %>
                   <% @tourney_results << [ wrestler.t4_name, wrestler.t4_place] %>
                 <% end %>
                 <% if wrestler.t5_name != "" && wrestler.t5_name != nil && wrestler.t5_name != " " %>
                   <% @tourney_results << [ wrestler.t5_name, wrestler.t5_place] %>
                 <% end %>
                
               <tr>
                <td>
                  <div class="field">
                <%= f.check_box :checked %>
              </div>
                <%= f.hidden_field :weight, :value => wrestler.weight %>
                </td>
                <td><%= wrestler.weight %>
                      <% if wrestler.seed %>
                      <br>(<%= wrestler.seed %>)
                      <% end %>
                  </td>
                
             
            <% if wrestler.school.league %>
              <td><%= wrestler.school.name %> (<%= wrestler.school.league.name %>)</td>
            <% else %>
              <td><%= wrestler.school.name %> </td>
            <% end %>
            <td><%= link_to wrestler.first_name + " " + wrestler.last_name, wrestler_path(wrestler) %></td>
            <td><%= wrestler.grade %></td>
    <% if (wrestler.bouts.where(win_loss: "W").count || wrestler.bouts.where(win_loss: "L").count) && (wrestler.wins >= 0 if wrestler.wins != nil) %>
        <td><%= wrestler.bouts.where(win_loss: "W").count + wrestler.wins %>-<%= wrestler.bouts.where(win_loss: "L").count + wrestler.losses %></td>
      <% elsif (wrestler.bouts.where(win_loss: "W").count || wrestler.bouts.where(win_loss: "L").count) && (wrestler.wins == nil) %>
        <td><%= wrestler.bouts.where(win_loss: "W").count  %>-<%= wrestler.bouts.where(win_loss: "L").count %></td>
      <% else %>
        <td><%= wrestler.wins %>-<%= wrestler.losses %></td>
      <% end %>


      
             <% if Season.find(SeasonWrestler.where(wrestler_id: wrestler.id)[0].season_id).start_date > 2016 %>
        <td>
           <% @tourney_results.each do |t| %>
              <%= t[0] %> - <%= t[1] %><br>
            <% end %> 
        </td>
        <% else %>
        <td><% if wrestler.t1_name != "" && wrestler.t1_name != nil %>
            <%= wrestler.t1_name %> <%= wrestler.t1_place %><br>
            <% end %>
            <% if wrestler.t2_name != "" && wrestler.t2_name != nil %>
            <%= wrestler.t2_name %> <%= wrestler.t2_place %><br>
            <% end %>
            <% if wrestler.t3_name != "" && wrestler.t3_name != nil %>
            <%= wrestler.t3_name %> <%= wrestler.t3_place %><br>
            <% end %>
            <% if wrestler.t4_name != "" && wrestler.t4_name != nil %>
            <%= wrestler.t4_name %> <%= wrestler.t4_place %><br>
            <% end %>
            <% if wrestler.t5_name != "" && wrestler.t5_name != nil%>
            <%= wrestler.t5_name %> <%= wrestler.t5_place %><br>
            <% end %>
        </td>
      
      <% end %>
                <td><%= wrestler.league_place %></td>
                <td><%= wrestler.league_1ya %></td>
                <td><%= wrestler.section_place %></td>
                <td><%= wrestler.state_place %></td>
      <tr>

                 <% @tourney_results = [] %>
                 
             

          <% end %>
          <% end %>
        </tbody>
      </table>
  <% end %>
</div>
</div>