<div class="tournament-container" style="padding-left: 15em;padding-right: 15em;font-size: 0.65em">
  <div class="tournament-headers">
    <span>Round of 64</span>
    <span>Round of 32</span>
    <span>Round of 16</span>
    <span>Quarter-Finals</span>
    <span>Semi-Finals</span>
    <span>Final</span>
  </div>
   

  <div class="tournament-brackets" >
    <ul class="bracket bracket-00" style="max-height: 12.5%;padding-top: 1.5em;">
      <li class="team-item"><%= @bp[2] %><br><br><br><%= @bp[3] %></li>
      <li class="team-item"><%= @bp[7] %><br><br><br><%= @bp[8] %></li>
      <li class="team-item"><%= @bp[12] %><br><br><br><%= @bp[13] %></li>
      <li class="team-item"><%= @bp[17] %><br><br><br><%= @bp[18] %></li>
      <li class="team-item"><%= @bp[22] %><br><br><br><%= @bp[23] %></li>
      <li class="team-item"><%= @bp[27] %><br><br><br><%= @bp[28] %></li>
      <li class="team-item"><%= @bp[32] %><br><br><br><%= @bp[33] %></li>
      <li class="team-item"><%= @bp[37] %><br><br><br><%= @bp[38] %></li>
    </ul>  
     <ul class="bracket bracket-0" >
      <li class="team-item first"><%= @bp[0] %><br><br><br><%= @bp[1] %></li>
      <li class="team-item"><br><br><br><br><%= @bp[4] %></li>
      <li class="team-item"><%= @bp[5] %><br><br><br><%= @bp[6] %></li>
      <li class="team-item"><br><br><br><%= @bp[9] %></li>
      <li class="team-item"><%= @bp[10] %><br><br><br><%= @bp[11] %></li>
      <li class="team-item"><br><br><br><%= @bp[14] %></li>
      <li class="team-item"><%= @bp[15] %><br><br><br><%= @bp[16] %></li>
      <li class="team-item"><br><br><br><%= @bp[19] %></li>
      <li class="team-item"><%= @bp[20] %><br><br><br><%= @bp[21] %></li>
      <li class="team-item"><br><br><br><%= @bp[24] %></li>
      <li class="team-item"><%= @bp[25] %><br><br><br><%= @bp[26] %></li>
      <li class="team-item"><br><br><br><%= @bp[29] %></li>
      <li class="team-item"><%= @bp[30] %><br><br><br><%= @bp[31] %></li>
      <li class="team-item"><br><br><br><%= @bp[34] %></li>
      <li class="team-item"><%= @bp[35] %><br><br><br><%= @bp[36] %></li>
      <li class="team-item"><br><br><br><%= @bp[39] %></li>
    </ul>  
    <ul class="bracket bracket-1">
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
    </ul>  
    <ul class="bracket bracket-2">
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
    </ul>  
    <ul class="bracket bracket-3">
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
    </ul>  
    <ul class="bracket bracket-4">
      <li class="team-item"><br><br><br> </li>
    </ul>  

   
  </div>
</div>
<br><br><br><br><bR><br><br>
<div class="tournament-container" style="padding-left: 15em;padding-right: 15em;font-size: 0.65em">
  <div class="tournament-headers">
    <span>Round of 64</span>
    <span>Round of 32</span>
    <span>Round of 16</span>
    <span>Quarter-Finals</span>
    <span>Semi-Finals</span>
    <span>Final</span>
  </div>

  <div class="tournament-brackets" >
    <ul class="bracket bracket-00" style="max-height: 12.5%;padding-top: 1.5em;">
      <li class="team-item">2nd<br><br><br>4th or WC</li>
      <li class="team-item">3rd<br><br><br>3rd or 2nd</li>
      <li class="team-item">2nd<br><br><br>4th or WC</li>
      <li class="team-item">3rd<br><br><br>3rd</li>
      <li class="team-item">2nd<br><br><br>4th or WC</li>
      <li class="team-item">3rd<br><br><br>3rd or 2nd</li>
      <li class="team-item">2nd<br><br><br>4th or WC</li>
      <li class="team-item">3rd<br><br><br>3rd</li>
    </ul>  
     <ul class="bracket bracket-0" >
      <li class="team-item first">1 SEED<br><br><br>3rd</li>
      <li class="team-item"><br><br><br><br>2nd</li>
      <li class="team-item">2nd or 1st<br><br><br>2nd</li>
      <li class="team-item"><br><br><br>8 SEED</li>
      <li class="team-item">5 SEED<br><br><br>3rd</li>
      <li class="team-item"><br><br><br>1st or 2nd</li>
      <li class="team-item">2nd or 1st<br><br><br>2nd</li>
      <li class="team-item"><br><br><br>4 SEED</li>
      <li class="team-item">3 SEED<br><br><br>3rd</li>
      <li class="team-item"><br><br><br>1st or 2nd</li>
      <li class="team-item">2nd or 1st<br><br><br>2nd</li>
      <li class="team-item"><br><br><br>6 SEED</li>
      <li class="team-item">7 SEED<br><br><br>3rd</li>
      <li class="team-item"><br><br><br>1st or 2nd</li>
      <li class="team-item">2nd or 1st<br><br><br>2nd</li>
      <li class="team-item"><br><br><br>2 SEED</li>
    </ul>  
    <ul class="bracket bracket-1">
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
    </ul>  
    <ul class="bracket bracket-2">
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
    </ul>  
    <ul class="bracket bracket-3">
      <li class="team-item"><br><br><br> </li>
      <li class="team-item"><br><br><br> </li>
    </ul>  
    <ul class="bracket bracket-4">
      <li class="team-item"><br><br><br> </li>
    </ul>  

   
  </div>
</div>