<div class="wrestler">
<h1 style="text-align:center">NCS Boys' Wrestling Registration</h1>
  <% if @wrestler.league_place.in?(["ALT-1", "ALT-2", "ALT-3", "ALT-4", "ALT-5"]) %>
    <h2 style="text-align:center">** ALTERNATE WRESTLER **</h2>
  <% end %><br><br>
  <table>
    <thead>
       
      </thead>
      <tbody>
      <tr>
        <td style="width:60%;text-align:left;font-size:25px;">Weight: <%= wrestler.weight %></td>
        <td style="width:60%;padding-left:20px;text-align:right;font-size:25px;">League Place:  <%= wrestler.league_place %></td>
      </tr>
      <tr>
        <td style="width:60%;text-align:left;font-size:25px;">Name: <%= @wrestler.first_name %> <%= @wrestler.last_name %></td>
        <td style="width:60%;text-align:right;font-size:25px;">Seed: ___</td>
      </tr>
      <tr>
        <td style="width:60%;text-align:left;font-size:25px;">School: <%= wrestler.school.name %></td>
          <% if @wrestler.league_place.in?(["ALT-1", "ALT-2", "ALT-3", "ALT-4", "ALT-5"]) %>
         <td style="width:60%;text-align:right;font-size:25px;">At Large:    <input type="checkbox" style="transform:scale(3, 3)"></td>
         <% end %>
      </tr>
      <tr>
        <td style="width:60%;text-align:left;font-size:25px;">League: <%= wrestler.league.name %></td>
      </tr>
      <tr>
        <td style="width:60%;text-align:left;font-size:25px;">Grade: <%= wrestler.grade %></td>
      </tr>
      <tr>
        <td style="width:60%;text-align:left;font-size:25px;">Overall Record: <%= wrestler.wins %>-<%= wrestler.losses %></td>
      </tr>
      
      <tr>
       <td style="width:60%;text-align:left;font-size:25px;">2016 Section Place: <%= wrestler.section_place %></td>
        <td style="width:0%;padding-left:20px;text-align:right;font-size:25px;">2016 State Place: <%= wrestler.state_place %></td>
      </tr>
      <tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    <td style="width:60%;text-align:left;font-size:15px;"><% if wrestler.t1_name != "" && wrestler.t1_name != nil %>
      <%= wrestler.t1_name %> <%= wrestler.t1_place %><br>
      <% end %>
      <% if wrestler.t2_name != "" && wrestler.t2_name != nil %>
      <%= wrestler.t2_name %> <%= wrestler.t2_place %><br>
      <% end %>
      <% if wrestler.t3_name != "" && wrestler.t3_name != nil %>
      <%= wrestler.t3_name %> <%= wrestler.t3_place %><br>
      <% end %>
      <% if wrestler.t4_name != "" && wrestler.t4_name != nil %>
      <%= wrestler.t4_name %> <%= wrestler.t4_place %><br>
      <% end %>
      <% if wrestler.t5_name != "" && wrestler.t5_name != nil%>
      <%= wrestler.t5_name %> <%= wrestler.t5_place %><br>
      <% end %>
  </td>
  <td style="width:50%;text-align:left;font-size:15px;"><% if wrestler.h2h_1 != "" && wrestler.h2h_1 != nil %>
      <%= wrestler.h2h_1 %> <%= wrestler.h2h_r1 %><br>
      <% end %>
      <% if wrestler.h2h_2 != "" && wrestler.h2h_2 != nil %>
      <%= wrestler.h2h_2 %> <%= wrestler.h2h_r2 %><br>
      <% end %>
      <% if wrestler.h2h_3 != "" && wrestler.h2h_3 != nil %>
      <%= wrestler.h2h_3 %> <%= wrestler.h2h_r3 %><br>
      <% end %>
      <% if wrestler.h2h_1 != "" && wrestler.h2h_4 != nil  %>
      <%= wrestler.h2h_4 %> <%= wrestler.h2h_r4 %><br>
      <% end %>
      <% if wrestler.h2h_1 != "" && wrestler.h2h_5 != nil %>
      <%= wrestler.h2h_5 %> <%= wrestler.h2h_r5 %><br>
      <% end %>
  </td>
  </tr>
      </tbody>
  </table>
  <p style="font-size:25px;"><br>
    <b>My athlete is eligible under all CIF, NCS, NFHS rules.</b><br><br><br>
    Coach's Signature: _______________________________
  </p><br><br><br><br>

  <table>
    <thead>
       
    </thead>
    <tbody>
      <tr>
        <td style="width:50%;text-align:left;font-size:20px;">Friday:</td>
        <td style="width:45%;text-align:left;font-size:20px;">Saturday:</td>
      </tr>
      <tr>
        <td style="width:50%;text-align:left;font-size:20px;">Actual Weight: ________________</td>
        <td style="width:45%;text-align:left;font-size:20px;">Actual Weight: ________________</td>
      </tr>
      <tr>
        <td style="width:50%;text-align:left;font-size:20px;">Wrestler's Signature:____________</td>
        <td style="width:45%;text-align:left;font-size:20px;">Wrestler's Signature:____________</td>
      </tr>
      <tr>
        <td style="width:50%;text-align:left;font-size:20px;">Official's Signature:_____________</td>
        <td style="width:45%;text-align:left;font-size:20px;">Official's Signature:_____________</td>
      </tr>      
      </tbody>
  </table>
  
    
</div>

   
