
<div class="wrestler">

 
  <h3 style="text-align:center">NCS Boys' Wrestling Registration</h3>
  <% if wrestler.league_place.in?(["ALT-1", "ALT-2", "ALT-3", "ALT-4", "ALT-5"]) %>
    <h4 style="text-align:center">** ALTERNATE **  AT LARGE: ___</h4>
  <% end %>
  <TABLE BORDER="1" CELLPADDING="5" CELLSPACING="0">
<TD style="width:35%font-size:13px;">

       
            Seed: ___<br>
           
            Weight: <%= wrestler.weight %><br>
            League Place:  <%= wrestler.league_place %><br>
            Grade: <%= wrestler.grade %><br>
            Name: <%= wrestler.first_name.upcase %> <%= wrestler.last_name.upcase %><br>
            School: <%= wrestler.school.name.upcase %><br>
            League: <%= wrestler.league.name %><br>
            _____________________________________________<br>
            <b>SEEDING INFORMATION</b><br><br>
            <% if wrestler.bouts.where(win_loss: "W").count && (wrestler.wins >= 0 if wrestler.wins != nil) %>
              Overall Record: &emsp;&emsp;<%= wrestler.bouts.where(win_loss: "W").count + wrestler.wins %>-<%= wrestler.bouts.where(win_loss: "L").count + wrestler.losses %> (incl forfeit)<br>
                <% else %>
                Overall Record: &emsp;&emsp;<%= wrestler.wins %>-<%= wrestler.losses %> (incl. forfeit)<br>
              <% end %>
              2016 NCS Place: &emsp;&emsp;&emsp;&nbsp;<%= wrestler.section_place %> (wt:___)<br>
              2016 STATE Place: &emsp;&emsp;<%= wrestler.state_place %> (wt:___)<br>
              NCS Losses: &emsp;&emsp;&emsp;&nbsp;<%= wrestler.losses_ncs %><br><br>

              <b>My athlete is eligible under all CIF, NCS, NFHS rules.</b><br><br>
    Coach's Signature:
    ___________________________
    <br>
            _____________________________________________<br>
            <b>Please do not write below line</b><br><br>
            Friday:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Saturday:<br>
            Wt:________________ &emsp;&emsp;Wt: _______________<br><br>
            Wrestler:____________&emsp;&emsp;Wrestler:____________<br><br>
            Official:____________&emsp;&emsp;&ensp;Official:____________<br>
            </td>

<TD style="vertical-align:top;width:85%;text-align:center;">
<TABLE BORDER="1" CELLPADDING="1" CELLSPACING="0">
  
           
           <% if wrestler.bouts && wrestler.bouts.count > 0 %>
            <TD>#</TD>
           <TD>W/L</TD>
           <TD>DATE</TD>
           <TD>OPPONENT</TD>
           <TD>SCHOOL</TD>
           <TD>TYPE</TD>
           <TD>SCORE</TD>
            <% wrestler.bouts.each do |bout| %>

              <tr>
                <td style="width:75%;text-align:left;font-size:7.5px;"><%= @count %></td> 
                <td style="width:75%;text-align:left;font-size:7.5px;"><%= bout.win_loss %>
                <td style="width:75%;text-align:left;font-size:7.5px;"><%= bout.date %>
                </td>
                <td style="width:75%;text-align:left;font-size:7.5px;"><%= bout.opponent_name %>
                </td>
                <td style="width:75%;text-align:left;font-size:7.5px;"><%= bout.opponent_team %>
                </td>
                <td style="width:75%;text-align:left;font-size:7.5px;"><%= bout.result_type %>
                </td>
                <td style="width:75%;text-align:left;font-size:7.5px;"><%= bout.score_time %>
                </td>
              </tr>
              <% @count += 1 %>
            <% end %>
          <% else %>
          <td>Tournament Name</td>
          <td>Tournament Place</td>
         
            <% if wrestler.t1_name != "" && wrestler.t1_name != nil %>
              <tr>
                <td><%= wrestler.t1_name %></td><td> <%= wrestler.t1_place %></td>
              </tr>
            <% end %>
            <% if wrestler.t2_name != "" && wrestler.t2_name != nil %>
            <tr>
              <td><%= wrestler.t2_name %></td><td> <%= wrestler.t2_place %></td>
              </tr>
            <% end %>
            <% if wrestler.t3_name != "" && wrestler.t3_name != nil %>
            <tr>
              <td><%= wrestler.t3_name %></td> <td><%= wrestler.t3_place %></td>
              </tr>
            <% end %>
            <% if wrestler.t4_name != "" && wrestler.t4_name != nil %>
            <tr><td><%= wrestler.t4_name %></td> <td><%= wrestler.t4_place %></td>
            </tr>
            <% end %>
            <% if wrestler.t5_name != "" && wrestler.t5_name != nil%>
            <tr><td><%= wrestler.t5_name %></td> <td><%= wrestler.t5_place %></td></tr>
            <% end %>
            <br><br><br><br>
            <tr><td><%=wrestler.comments %></td></tr>
          <% end %>
          
          
          </TABLE>

</TD>

</TABLE>
      
           
            


     
   
    
      <!--   <tr>
          <td style="width:50%;text-align:left;font-size:14px;">
          </td>
        
          <td style="width:50%;text-align:left;font-size:14px;"><% if wrestler.h2h_1 != "" && wrestler.h2h_1 != nil %>
            <%= wrestler.h2h_1 %> <%= wrestler.h2h_r1 %><br>
            <% end %>
            <% if wrestler.h2h_2 != "" && wrestler.h2h_2 != nil %>
            <%= wrestler.h2h_2 %> <%= wrestler.h2h_r2 %><br>
            <% end %>
            <% if wrestler.h2h_3 != "" && wrestler.h2h_3 != nil %>
            <%= wrestler.h2h_3 %> <%= wrestler.h2h_r3 %><br>
            <% end %>
            <% if wrestler.h2h_1 != "" && wrestler.h2h_4 != nil  %>
            <%= wrestler.h2h_4 %> <%= wrestler.h2h_r4 %><br>
            <% end %>
            <% if wrestler.h2h_1 != "" && wrestler.h2h_5 != nil %>
            <%= wrestler.h2h_5 %> <%= wrestler.h2h_r5 %><br>
            <% end %>
          </td>
        </tr>
     
    
  </table> -->
  
  
    
</div>

   
