<div class="ui raised segment">
  <div class="ui center aligned raised segment">
  <h2>Create Wrestler</h2><br>
  (** Required Field)
  </div>
    <div class="ui form">
    <%= form_for [@wrestler]  do |f| %>
      <% if @wrestler.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@wrestler.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @wrestler.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="fields">
        <div class="three wide field">
          <%= f.label :weight, "Weight **" %><br>
           <% if current_user.admin? || current_user.league_id == @league.id %>
          <%= f.collection_select :weight, ['106', '113', '120', '126', '132', '138', '145', '152', '160', '170', '182', '195', '220', '285'], :to_s, :to_s, :include_blank => true %>
          <% else %>
           <%= f.text_field :weight, :readonly=>true %>
           <% end %>
        </div>
        
        <div class="two wide field">
          <%= f.label :grade, "Grade" %><br>
          <%= f.collection_select :grade, ['9', '10', '11', '12'], :to_s, :to_s, :include_blank => true %>
        </div>

        <div class="four wide field">
          <%= f.label :school_id %><br>
          <%= f.text_field :school_id, :hidden => true %>
          <%= @wrestler.school.name %><br>


        </div>

        <div class="five wide field">
          <%= f.label :first_name, "First **" %><br />
          <%= f.text_field :first_name %>
        </div>

        <div class="six wide field">
        <%= f.label :last_name, "Last **" %><br />
        <%= f.text_field :last_name %>
        </div>

      </div>

      <div class="fields">

        <div class="three wide field">

            <%= f.label :seed %><br>
            <% if current_user.admin? %>
            <%= f.collection_select :seed, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], :to_s, :to_s, :include_blank => true %>
            <% else %>
             <%= f.text_field :seed, :readonly=>true %>
          <% end %>
        </div>
        <% if current_user.admin? %>
         <div class="checkbox field">
         <%= f.label :alternate %><br>
          <%= f.check_box :alternate %>
         </div>
         <% end %>


        <div class="three wide field">
          <%= f.label :league_place, "2016 League Place" %><br>
           <%= f.collection_select :league_place, ['1', '2', '3', '4', 'ALT 1', 'ALT 2'], :to_s, :to_s, :include_blank => true %>

        </div>

        <div class="three wide field">
          <%= f.label :section_place, "2016 Section Place" %><br>
           <%= f.collection_select :section_place, ['1', '2', '3', '4', '5', '6', '7', '8'], :to_s, :to_s, :include_blank => true %>

        </div>

        <div class="three wide field">
          <%= f.label :state_place, "2016 State Place" %><br>
          <%= f.collection_select :state_place, ['1', '2', '3', '4', '5', '6', '7', '8'], :to_s, :to_s, :include_blank => true %>
        </div>
        <div class="hidden field">
          <%= f.hidden_field :league_id, :value => @league.id %>
          <%= f.hidden_field :created_at, :value => Time.now %>
          <%= f.hidden_field :updated_at, :value => Time.now %>
        </div>
       
      </div>
   
      <div class="actions">
        <div class="ui red botton" id="btn-modal-1">
          <%= f.submit "Create" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

