<div class="ui raised segment">
  <div class="ui center aligned raised segment">
  <h2>Create Wrestler</h2><br>
  (** Required Field)
  </div>
    <div class="ui form">
    <%= form_for [@wrestler]  do |f| %>
      <% if @wrestler.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@wrestler.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @wrestler.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="fields">
        <!--  <div class="two wide field">
         <%= f.label :tourney_team, "Varsity LEAGUE Team" %><br>
         <%= f.check_box :tourney_team %><br>
         </div> -->
        <div class="three wide field">
          <%= f.label :weight, "Weight **" %><br>
           <% if current_user.admin? || current_user.league_id  %>
          <%= f.collection_select :weight, ['106', '113', '120', '126', '132', '138', '145', '152', '160', '170', '182', '195', '220', '285'], :to_s, :to_s, :include_blank => true %>
          <% else %>
           <%= f.text_field :weight, :readonly=>true %>
           <% end %>
        </div>
        
        <div class="two wide field">
          <%= f.label :grade, "Grade" %><br>
          <%= f.collection_select :grade, ['9', '10', '11', '12'], :to_s, :to_s, :include_blank => true %>
        </div>

        <div class="four wide field">
          <%= f.label :school_id %><br>
          <%= f.text_field :school_id, :hidden => true %>
          <%= @wrestler.school.name %><br>
        </div>

        <div class="five wide field">
          <%= f.label :first_name, "First **" %><br />
          <%= f.text_field :first_name %>
        </div>

        <div class="six wide field">
        <%= f.label :last_name, "Last **" %><br />
        <%= f.text_field :last_name %>
        </div>

      </div>

      <div class="fields">
      <!--       
            <% if current_user.admin?  %>
        <div class="two wide field">
            <%= f.label :seed %><br>
            <%= f.collection_select :seed, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], :to_s, :to_s, :include_blank => true %>
        </div>
            <% elsif @wrestler.seed %>
            <div class="three wide field">
             <%= f.label :seed %><br>
             <%= f.text_field :seed, :readonly=>true %>
          </div>
       
        <% end %>
        <% if current_user.admin? || ((current_user.league_id == @wrestler.school.league_id) && current_user.league_rep == true) %>
         <div class="two wide field">
         <%= f.label :alternate, "AT LARGE" %><br>
         <%= f.check_box :alternate %><br>
         </div>
         <div class="two wide field">
         <%= f.label :scratch, "SCRATCH" %><br>
         <%= f.check_box :scratch %>
         </div> 

         <div class="three wide field">
         <%= f.label :league_place, "2018 LEAGUE PLACE" %><br><br>
          <% if League.find(@wrestler.school.league_id).entries == 2 %>
          <%= f.collection_select :league_place, ['1', '2', 'ALT-1', 'ALT-2', 'ALT-3'], :to_s, :to_s, :include_blank => true %>
          <% elsif League.find(@wrestler.school.league_id).entries == 3 %>
          <%= f.collection_select :league_place, ['1', '2', '3', 'ALT-1', 'ALT-2', 'ALT-3'], :to_s, :to_s, :include_blank => true %>
          <% else %>
          <%= f.collection_select :league_place, ['1', '2', '3', '4', '5', 'ALT-1', 'ALT-2', 'ALT-3'], :to_s, :to_s, :include_blank => true %>
          <% end %>
         </div>
         <% end %>
          <div class="one wide field">
          <%= f.label :wins, "Wins" %><br><br>
          <%= f.collection_select :wins, ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50'], :to_s, :to_s, :include_blank => true %>
        </div>

        <div class="one wide field">
          <%= f.label :losses, "Losses" %><br><br>
           <%= f.collection_select :losses, ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50'], :to_s, :to_s, :include_blank => true %>
        </div>
        <div class="one wide field">
          <%= f.label :losses_ncs, "NCS Losses" %><br>
           <%= f.collection_select :losses_ncs, ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50'], :to_s, :to_s, :include_blank => true %>
        </div> -->
        <div class="three wide field">
         <%= f.label :league_1ya, "2018 LEAGUE PLACE" %><br><br>
          <%= f.collection_select :league_1ya, ['1', '2', '3', '4', '5', '6', 'ALT-1', 'ALT-2', 'ALT-3', 'ALT-4', 'ALT-5'], :to_s, :to_s, :include_blank => true %>
         </div>
        

        <div class="three wide field">
          <%= f.label :section_place, "2018 SECTION PLACE" %><br><br>
           <%= f.collection_select :section_place, ['1', '2', '3', '4', '5', '6', '7', '8'], :to_s, :to_s, :include_blank => true %>

        </div>

        <div class="three wide field">
          <%= f.label :state_place, "2018 STATE PLACE" %><br><br>
          <%= f.collection_select :state_place, ['1', '2', '3', '4', '5', '6', '7', '8'], :to_s, :to_s, :include_blank => true %>
        </div> 
       <!--  --> 

      </div>
  <!--     
             <h4> WINS & LOSSES:  If you add a match result to your wrestler from the wrestler profile page, wins and losses update automatically! </h4> 
            <h2 class="ui center aligned header">SEEDING INFORMATION</h2>
      <h3 class="ui center aligned dividing header">TOURNAMENT PLACES</h3>

      <div class="fields">

          <div class="three wide field">
          <%= f.label :t1_name, "TOURNAMENT 1" %><br>
          <% if :t1_name != nil && :t1_name != "" %>

           <%= f.text_field :t1_name %>
            <% else %>
            <%= f.collection_select :t1_name, @tournaments, :name, :name, {:include_blank => true} %>
           <% end %>
          </div>


           <div class="three wide field">
          <%= f.label :t2_name, "TOURNAMENT 2" %><br>
          <% if :t2_name != nil && :t2_name != "" %>
            <%= f.text_field :t2_name %>
            <% else %>
          <%= f.collection_select :t2_name, @tournaments, :name, :name, {:include_blank => true} %>
          <% end %>
          </div>


           <div class="three wide field">
          <%= f.label :t3_name, "TOURNAMENT 3" %><br>
          <% if :t3_name != nil && :t3_name != "" %>
           <%= f.text_field :t3_name %>
            <% else %>
           <%= f.collection_select :t3_name, @tournaments, :name, :name, {:include_blank => true} %>
          <% end %>
          </div>
           <div class="three wide field">
          <%= f.label :t4_name, "TOURNAMENT 4" %><br>
          <% if :t4_name != nil && :t4_name != "" %>
           <%= f.text_field :t4_name %>
            <% else %>
          <%= f.collection_select :t4_name, @tournaments, :name, :name, {:include_blank => true} %>
          <% end %>
          </div>
             
          <div class="three wide field">
            <%= f.label :t5_name, "TOURNAMENT 5" %><br>
          <% if :t5_name != nil && :t5_name != "" %>
           <%= f.text_field :t5_name %>
            <% else %>
            <%= f.collection_select :t5_name, @tournaments, :name, :name, {:include_blank => true} %>
          <% end %>
          </div>
        </div>
        <div class="fields">
          <div class="three wide field">
           <%= f.label :t1_place %><br>
           <%= f.collection_select :t1_place, ['DNP', '1', '2', '3', '4', '5', '6', '7', '8'],  :to_s, :to_s, :include_blank => true %>
          </div>

          <div class="three wide field">
            <%= f.label :t2_place %><br>
            <%= f.collection_select :t2_place, ['DNP', '1', '2', '3', '4', '5', '6', '7', '8'],  :to_s, :to_s, :include_blank => true %>
          </div>

          <div class="three wide field">
            <%= f.label :t3_place %><br>
            <%= f.collection_select :t3_place, ['DNP', '1', '2', '3', '4', '5', '6', '7', '8'],  :to_s, :to_s, :include_blank => true %>
          </div>

          <div class="three wide field">

          <%= f.label :t4_place %><br>
          <%= f.collection_select :t4_place, ['DNP', '1', '2', '3', '4', '5', '6', '7', '8'],  :to_s, :to_s, :include_blank => true %>

          </div>
             <div class="three wide field">
          <%= f.label :t5_place %><br>
          <%= f.collection_select :t5_place, ['DNP', '1', '2', '3', '4', '5', '6', '7', '8'],  :to_s, :to_s, :include_blank => true %>

          </div>

      </div> -->
    <!--   <h3 class="ui center aligned dividing header">HEAD TO HEAD RESULTS</h3>
      <h5 class="ui center aligned header">EXAMPLES:<br>Williams (DLS)  W 9-2</h5>
      <h4 class="ui center aligned header"></h4>
      <div class="fields">
         <div class="field">
          <%= f.label :h2h_1, "OPPONENT 1" %><br>
          <%= f.text_field :h2h_1, :placeholder => "Lopez (JL)" %>
         </div>

          <div class="field">
            <%= f.label :h2h_r1, "W/L" %><br>
            <%= f.text_field :h2h_r1, :placeholder => "W Fall" %>
          </div>

           <div class="field">
          <%= f.label :h2h_2, "OPPONENT 2" %><br>
          <%= f.text_field :h2h_2, :placeholder => "Smith (UKIAH)" %>
         </div>


          <div class="field">
            <%= f.label :h2h_r2, "W/L" %><br>
            <%= f.text_field :h2h_r2, :placeholder => "L 2-1" %>
          </div>
        </div>
        <div class="fields">
          <div class="field">
           <%= f.label :h2h_3, "OPPONENT 3" %><br>
           <%= f.text_field :h2h_3 %>
          </div>

          <div class="field">
            <%= f.label :h2h_r3, "W/L" %><br>
            <%= f.text_field :h2h_r3 %>
          </div>

           <div class="field">
          <%= f.label :h2h_4, "OPPONENT 4" %><br>
          <%= f.text_field :h2h_4 %>
         </div>

          <div class="field">
            <%= f.label :h2h_r4, "W/L" %><br>
            <%= f.text_field :h2h_r4 %>
          </div>
          </div>
        <div class="fields">
           <div class="field">
          <%= f.label :h2h_5, "OPPONENT 5" %><br>
          <%= f.text_field :h2h_5 %>
         </div>

          <div class="field">
            <%= f.label :h2h_r5, "W/L" %><br>
            <%= f.text_field :h2h_r5 %>
          </div>
           </div> -->
       <!-- 
          <div class=" seven wide field">
            <%= f.label :comments %><br>
            <%= f.text_area :comments, :placeholder => "KEEP IT BRIEF!" %>
          </div>
      -->
       <div class="actions">
        <div class="ui red botton" id="btn-modal-1">
          <%= f.submit "UPDATE" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

