
<tr>
  <!-- <td><%= wrestler.seed %></td> -->
  <td><%= wrestler.weight %>
    <% if wrestler.seed %>
        <br>(<%= wrestler.seed %>)
    <% end %>
  </td>
  <% if wrestler.school.league %>
  <td><%= wrestler.school.name %> (<%= wrestler.school.league.name %>)</td>
  <% else %>
    <td><%= wrestler.school.name %> </td>
  <% end %>
  <% if wrestler.tourney_team == true %>
  <td><%= link_to "#{wrestler.first_name.upcase + ' ' + wrestler.last_name.upcase}", wrestler_path(wrestler, season_id: @season.id) %></td>
  <% else %>
  <td><%= link_to "#{wrestler.first_name + ' ' + wrestler.last_name}", wrestler_path(wrestler, season_id: @season.id) %></td>
  <% end %>
  <td><%= wrestler.grade %></td>
  
  <td><%= wrestler.wins %>-<%= wrestler.losses %></td>
  <% if Season.find(SeasonWrestler.where(wrestler_id: wrestler.id)[0].season_id).start_date > 2016 %>
    <td>
     <% if wrestler.t1_name != "" && wrestler.t1_name != nil %>
        <%= wrestler.t1_name %> <%= wrestler.t1_place %><br>
        <% end %>
        <% if wrestler.t2_name != "" && wrestler.t2_name != nil %>
        <%= wrestler.t2_name %> <%= wrestler.t2_place %><br>
        <% end %>
        <% if wrestler.t3_name != "" && wrestler.t3_name != nil %>
        <%= wrestler.t3_name %> <%= wrestler.t3_place %><br>
        <% end %>
        <% if wrestler.t4_name != "" && wrestler.t4_name != nil %>
        <%= wrestler.t4_name %> <%= wrestler.t4_place %><br>
        <% end %>
        <% if wrestler.t5_name != "" && wrestler.t5_name != nil%>
        <%= wrestler.t5_name %> <%= wrestler.t5_place %><br>
        <% end %>
    </td>
  
  <% end %>
  <td><%= wrestler.league_place %></td>
  <td><%= wrestler.league_1ya %></td>
  <td><%= wrestler.section_place %><br>
     <% if wrestler.season_id != nil  %>
              <% if Wrestler.where(first_name: wrestler.first_name, grade: wrestler.grade-1, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0] && wrestler.section_place != nil%>
               <div style="font-size: 0.65em">
               (<%= Wrestler.where(first_name: wrestler.first_name, last_name: wrestler.last_name, school_id: wrestler.school.id, season_id: (wrestler.season_id-1))[0].weight %>)
               </div>
               <% end %>
               <% end %>
  </td>
  <td><%= wrestler.state_place %></td>
  
  

  <% if @season.id == Season.last.id %>
    <% if user_signed_in? && (current_user.admin? || ((current_user.league_rep == true) || (current_user.coach == true) && current_user.school_id == wrestler.school.id) ) %>
       <!-- || current_user.school.name == wrestler.school.name)  -->
      <td><%= link_to 'Edit', edit_wrestler_path(wrestler) %></td>
     
      <td><%= link_to 'Delete', wrestler, method: "delete", :data => {:confirm => 'Are you sure?'} %> </td>
      
            <td><%= link_to wrestler_path(wrestler, format: "pdf") do %><i class="file pdf outline icon"></i></td>
        
        
        <% end %>
      <% end %>
    <% end %>
</tr>
