

 <div class="ui center aligned segment">
    <%= form_tag update_all_school_wrestlers_path, method: :post do %>
      <table class="ui celled center aligned structured stackable table">
        <thead>
          <h3><%= @school.name.upcase %></h3>
        <h3><%= @season.name %> TEAM ROSTER </h3> 
        <%= submit_tag "UPDATE ALL" %>
     
           <tr>
        <th rowspan="2">WEIGHT</th>
        <th rowspan="2">VARSITY</th>
        <th rowspan="2">NAME </th>

        <th rowspan="2">GRADE</th>
        <th rowspan="2">RECORD</th>
        <th rowspan="2">TOURNAMENTS<br>RESULTS</th>
        <th rowspan="2"><%= Season.find(@season.id).end_date %><br>LEAGUE</th>        
          <!-- <th colspan="2"><%= Season.find(@season.id).start_date %></th> -->
          <th rowspan="2">COMMENTS</th>
        
      </tr>
      <!-- <tr>
        <th rowspan="1">NCS</th>
        <th rowspan="1">STATE</th>
      </tr> -->

        </thead>
        <tbody>
          <% @wrestlers.each do |wrestler| %>
            <%= fields_for "wrestlers[]", wrestler do |f|%>
            <% if wrestler.errors.any? %>
              <div id="error_explanation">
          <h2><%= pluralize(wrestler.errors.count, "error") %> prohibited this wrestler from being saved:</h2>

          <ul>
            <% wrestler.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
            <td>
          <div class="field">
          <%= f.collection_select :weight, ['106', '113', '120', '126', '132', '138', '145', '152', '160', '170', '182', '195', '220', '285'], :to_s, :to_s, :include_blank => true %>
          </div>
        </td>
        <td>
          <div class="field">
          <%= f.check_box :tourney_team %>
          </div>
        </td>
        
          <td>
            <div class="field">
              <%= "#{wrestler.first_name + ' ' + wrestler.last_name}" %>
          </div>
          </td>
          <td>
            <div class="field">
              <%= f.label :grade, "YR" %>
              <%= f.collection_select :grade, ['9', '10', '11', '12'], :to_s, :to_s %>
            </div>
          </td>
          <td>

          <div class="field">
             <%= f.label :wins, "W" %>
          <%= f.collection_select :wins, ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50'], :to_s, :to_s, :include_blank => false %>
          </div>
            <div class="field">
            <%= f.label :losses, "L" %>
           <%= f.collection_select :losses, ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50'], :to_s, :to_s, :include_blank => false %>
          </div>
        </td>
                     
          <td>
            <div class="field">

                T1<%= f.collection_select :t1_name, @tournaments, :name, :name, {:include_blank => true} %><%= f.collection_select :t1_place, ['1', '2', '3', '4', '5', '6', '7', '8'], :to_s, :to_s, :include_blank => true %>PL<br>
                T2<%= f.collection_select :t2_name, @tournaments, :name, :name, {:include_blank => true} %><%= f.collection_select :t2_place, ['1', '2', '3', '4', '5', '6', '7', '8'], :to_s, :to_s, :include_blank => true%>PL <br>
                T3<%= f.collection_select :t3_name, @tournaments, :name, :name, {:include_blank => true} %><%= f.collection_select :t3_place, ['1', '2', '3', '4', '5', '6', '7', '8'], :to_s, :to_s, :include_blank => true %>PL<br>
                T4<%= f.collection_select :t4_name, @tournaments, :name, :name, {:include_blank => true} %><%= f.collection_select :t4_place, ['1', '2', '3', '4', '5', '6', '7', '8'], :to_s, :to_s, :include_blank => true %>PL<br>
                T5<%= f.collection_select :t5_name, @tournaments, :name, :name, {:include_blank => true} %><%= f.collection_select :t5_place, ['1', '2', '3', '4', '5', '6', '7', '8'], :to_s, :to_s, :include_blank => true %>PL<br>
                T6<%= f.collection_select :t6_name, @tournaments, :name, :name, {:include_blank => true} %><%= f.collection_select :t6_place, ['1', '2', '3', '4', '5', '6', '7', '8'], :to_s, :to_s, :include_blank => true %>PL

           
            </div>
          </td>
          
          <td>
            <%  if wrestler.tourney_team == true && (user_signed_in? && (current_user.admin? || ((current_user.league_id == @school.league_id) && current_user.league_rep == true ))) %>
              <div class="three wide field">
               <%= f.label :league_place, "#{Season.last.end_date} LEAGUE PLACE" %><br><br>
                <% if League.find(wrestler.school.league_id).entries == 2 %>
                <%= f.collection_select :league_place, ['1', '2', 'ALT-1', 'ALT-2', 'ALT-3'], :to_s, :to_s, :include_blank => true %>
                <% elsif League.find(wrestler.school.league_id).entries == 3 %>
                <%= f.collection_select :league_place, ['1', '2', '3', 'ALT-1', 'ALT-2', 'ALT-3'], :to_s, :to_s, :include_blank => true %>
                <% else %>
                <%= f.collection_select :league_place, ['1', '2', '3', '4', '5', 'ALT-1', 'ALT-2', 'ALT-3'], :to_s, :to_s, :include_blank => true %>
                <% end %>
              </div>
            <% else %>
              <div class="field">
                <% if wrestler.league_place  %>
                <%= wrestler.league_place %>
                
                <% end %>
              </div>
            <% end %>
          </td>
          <!-- <td>
            <div class="field"><br>
              <% if wrestler.section_place %>
              <%= wrestler.section_place %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="field"><br>
             <% if wrestler.state_place %>
             <%= wrestler.state_place %>
             <% end %>
            </div>
          </td> -->
        <td>
          <div class="field"><br>
            <%= f.text_area :comments, :placeholder => "Keep very brief" %>
          </div>
        </td>
  
  
  <% end %>

     
</tr>
          
           
        </tbody>
      <% end %>  
      </table>
      
      </div><br><br><br><br><br>
  </div>
</div>
<% end %>