<div class="ui center aligned grid">
<!-- 
    <% if user_signed_in? && (current_user.league_id || current_user.school_id || current_user.admin?) %>
     <div class="ui center aligned segment">
  <h4>All changes must be emailed to lhkatz@pacbell.net AND bniemi@cifncs.org</h4>
  </div>
  <% end %> -->


  <div class="ui mobile only row">
     <div class="sixteen wide column">
      <b><%= @school.name %></b>
      
    </div>
    <div class="ui center aligned segment">
    <% if user_signed_in? && (current_user.admin?) %>
      <i class="add user icon"></i><%= link_to 'ADD WRESTLER', new_school_wrestler_path %>
      <%= form_tag import_school_wrestlers_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import Wrestlers from CSV" %>
      <% end %><br><br>
       Download Wrestlers:
            <%= link_to "CSV", school_wrestlers_path(format: "csv") %> <br><br>
    <% end %>
       
      <table class="ui celled right aligned structured stackable table" style="padding:5em;">
        <thead>
        <h3><%= @season.name %> TEAM ROSTER</h3>
             <tr>
        <th rowspan="2">WEIGHT<br>(seed)</th>
        <th rowspan="2">SCHOOL</th>
        <th rowspan="2">NAME </th>
        <th rowspan="2">YR</th>
        <th rowspan="2">RECORD</th>
        <th rowspan="2">TOURNAMENTS<br>RESULTS</th>
        <th rowspan="2">SECTION<br>HEAD 2 HEAD</th>
        <th colspan="2">2016</th>
        <% if user_signed_in? && (current_user.admin? || current_user.league || current_user.school) %>
        <th rowspan="2">Edit</th>
        <th rowspan="2">Delete</th>
        <% end %>
        
      </tr>
      <tr>
        <th rowspan="1">NCS</th>
        <th rowspan="1">STATE</th>
      </tr>
        </thead>
        <tbody>
          <% @wrestlers.each do |wrestler| %>
             <% if wrestler.bouts %>
              
              <%= render partial: 'schools/wrestlers/table_row', locals: { wrestler: wrestler, wins: @wins, losses: @losses } %>
             
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui computer only tablet only row">
    <%= render partial: 'schools/shared/add_wrestlers', locals: { school: @school, seasons: @seasons } %>
    
   
    
    <div class="ui center aligned segment">
      <table class="ui celled center aligned structured stackable table">
        <thead>
        <h3><%= @season.name %> TEAM ROSTER</h3>
           <tr>
        <th rowspan="2">WEIGHT<br>(seed)</th>
        <th rowspan="2">LEAGUE PL</th>
        <th rowspan="2">SCHOOL</th>
        <th rowspan="2">NAME </th>
        <th rowspan="2">YR</th>
        <th rowspan="2">RECORD</th>
        <th rowspan="2">TOURNAMENTS<br>RESULTS</th>
        <th rowspan="2">SECTION<br>HEAD 2 HEAD</th>
          <% if @season.id-1 != 0 %>
          <th colspan="2"><%= Season.find(@season.id-1).name %></th>
          <% else %>
          <th colspan="2"><%= @season.start_date - 1 %></th>
          <% end %>
        <% if user_signed_in? && (current_user.admin? || current_user.school.name == @school.name || current_user.league_id == @school.league_id ) %>
        <% if @season.id == Season.last.id %>
        <th rowspan="2">Edit</th>
        <th rowspan="2">Delete</th>
        <% if DateTime.now.to_s > "2018-2" %>
        <td rowspan="2">Wt Card<br>PDF</td>
        <% end %>
        <% end %>
        <% end %>
        
      </tr>
      <tr>
        <th rowspan="1">NCS</th>
        <th rowspan="1">STATE</th>
      </tr>

        </thead>
        <tbody>
          <% @wrestlers.each do |wrestler| %>
            <% if wrestler.bouts %>
             
              <%= render partial: 'schools/wrestlers/table_row', locals: { wrestler: wrestler, wins: @wins, losses: @losses, season: @season } %>
            
            <% end %>
          <% end %>
        </tbody>
      </table>
      </div><br><br><br><br><br>
  </div>
</div>
