<!DOCTYPE html>
<html>
<head>
  <title>NCS Wrestling Championships</title>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%= render partial: "shared/header", locals: { user: @user } %>


  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>


<%= yield %>

<%= render partial: "shared/footer", locals: { user: @user } %>

<script>


$('.ui.form.bout')
  .form({
    fields: {
      tournament_name: {
        identifier  : 'tournament_name',
        rules: [
          {
            prompt : 'Enter Tournament'
          }
        ]
      },
      opponent_team: {
        identifier  : 'opponent_team',
        rules: [
          {
            prompt  : 'Enter School'
          }
        ]
      },
      dual_or_tourney: {
        identifier  : 'dual_or_tourney'
      }
    }
  })
;

// var standardHeader = $.fn.search.settings.templates.message;

// var newHeader = function (message, type) {
//     var
//     html = '';
//     if (message !== undefined && type !== undefined) {
//         html += '' + '<div class="message ' + type + '">';
//         // message type
//         if (type == 'empty') {
//             html += '' + '<div class="header">Tournament not found!</div class="header">' + '<div class="description">' + message + '</div class="description">';
//         } else {
//             html += ' <div class="description">' + message + '</div>';
//         }
//         html += '</div>';
//     }
//     return html;
// };

// $.fn.search.settings.templates.message = newHeader;
$('.ui.search.school')
  .search({
    apiSettings: {
      url: '/schools/autocomplete.json?query={query}'
    },
    fields: {
      results: 'teams',
      title: 'name'
    },
    minCharacters : 3,
    error: {
      noResults: 'Enter school now!'
    }
  } 
)
; 

$('.ui.search.tourney')
  .search({
    apiSettings: {
      url: '/tournaments/autocomplete.json?query={query}'
    },
    fields: {
      results: 'tournaments',
      title: 'name'
    },
    minCharacters : 2,
    error: {
      noResults: 'Enter tournament now!'
    }
  } 
)
; 

$('.ui.search.wrestler')
  .search({
    apiSettings: {
      url: '/wrestlers/autocomplete.json?query={query}'
    },
    fields: {
      results: 'graplers',
      title: 'fullname'

    },
    minCharacters : 2,
    error: {
      noResults: 'Enter wrestler now!'
    },
    onSelect(result, response) {
        $('.ui.search.school').search('set value', result.school)
        $('.ui.search.wrestler').search('set value', result.fullname)
        $('.ui.search.wrestler').search('hide results')
        return false
    }
  }
)
; 
  
$('.ui.dropdown.dual_or_tourney')
  .dropdown({

  })
// $.fn.search.settings.templates.message = standardHeader;

$('.ui.dropdown')
  .dropdown({

  })
;

$('ui.accordion')
  .accordion({
    selector: {
      trigger: '.title .icon'
    }
  })
;



$('.ui.segment h3')

  .transition('horizontal flip', '5000ms')
  .transition('horizontal flip', '5000ms')
;



$('.ui.modal')
  .modal('setting', 'transition', 'vertical flip')
  .modal('show')
;

$('.ui.sidebar').first()
  .sidebar('attach events', '.toggle.item')
;
$('.toggle.item')
  .removeClass('disabled')
;


$('.ui.info.sidebar').first()
  .sidebar('attach events', '.toggle2.item')
;
$('.toggle2.item')
  .removeClass('disabled')
;

$('.ui.league.sidebar').first()
  .sidebar('attach events', '.toggle3.item')
;
$('.toggle3.item')
  .removeClass('disabled')
;
$('.ui.wrestler.sidebar').first()
  .sidebar('attach events', '.toggle4.item')
;

$('.toggle4.item')
  .removeClass('disabled')
;

$('.ui.admin.sidebar').first()
  .sidebar('attach events', '.toggle5.item')
;

$('.toggle5.item')
  .removeClass('disabled')
;

$('.images .image')
  .transition({
    animation : 'vertical flip',
    interval  : 200
  })


 // .transition({
 //    animation : 'vertical flip',

 //    interval  : 200
 //  })

.transition({
    animation : 'vertical flip',
    interval  : 200
  })

// .transition({
//     animation : 'vertical flip',

//     interval  : 200
//   })
;

$('.ui.segment .title b i')
 .transition('fly right', '2500ms', 'onCall')
    .transition('fly right', '2500ms', 'onHide', 'disable')

;
// $(document).ready(function(){
//   $('.images .image').hover(function(){
//     $(this).transition('vertical flip');
//     $(this).src='d2dlogo.png';

//   }, function(){});
//   })
// ;

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74098888-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
